$color-primary: #093a67;
$color-title: #282828;
$color-caption: rgba(43, 43, 43, 0.9);
$color-border: rgba(85, 85, 85, 0.25);
$color-swipe: #9e9c9c;

$trans-hover: ease all 0.4s;

@font-face {
    font-family: Heebo-Regular;
    src: url('../fonts/heebo/static/Heebo-Regular.ttf');
}

@font-face {
    font-family: Heebo-Bold;
    src: url('../fonts/heebo/static/Heebo-Bold.ttf');
}

@font-face {
    font-family: Heebo-Medium;
    src: url('../fonts/heebo/static/Heebo-Medium.ttf');
}

@font-face {
    font-family: Heebo-Semi;
    src: url('../fonts/heebo/static/Heebo-SemiBold.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('../fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto-Light;
    src: url('../fonts/roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

$heebo-regular: "Heebo-Regular", Arial, Tahoma;
$heebo-bold: "Heebo-Bold", Arial, Tahomaa;
$heebo-med: "Heebo-Medium", Arial, Tahoma;
$heebo-semi: "Heebo-Semi", Arial, Tahoma;

$roboto-regular: "Roboto-Regular", Arial, Tahoma;
$roboto-bold: "Roboto-Bold", Arial, Tahoma;
$roboto-med: "Roboto-Medium", Arial, Tahoma;
$roboto-light: "Roboto-Light", Arial, Tahoma;

$poppins-regular: "Poppins-Regular", Arial, Tahoma;
$poppins-bold: "Poppins-Bold", Arial, Tahoma;

html, body{
    position: relative;
    height: 100%;
    margin: 0;
}

body{
    font-family: "Heebo-Regular", Arial, Tahoma !important;
    line-height: 1.5;
    scroll-behavior: smooth;
    background-color: #fff !important;
    background-image: none !important;
}

a{
    text-decoration: none !important;

    &:hover, &:focus{
        text-decoration: none !important;
    }
}

.content-row{
    display: flex;
    flex-wrap: wrap;
}

.content-clearfix::after {
    content: "";
    clear: both;
    display: table;
}

*, ::before, ::after{
    box-sizing: border-box;
}