@import 'global';

.warp-soon{
	position: relative;
	width: 100%;
	height: calc(100% - 46px);
	background-image: 
		url('../images/background-desktop.png'), 
		linear-gradient(144deg, #093a67, #38e8be 134%);
	background-size: 
		100% auto,
		100% 100%;
	text-align: center;

	&:after{
		content:"";
		position: absolute;
		z-index: 1;
		background-image: url('../images/background-wave.png');
		background-size: 100% 100%;
		height: 30%;
		width: 100%;
		bottom: 0;
		left: 0;
	}
}

.soon{
	height: 100%;
	width: 100%;
	padding: 50px 0px 0px;
}

.logo-sindonews{
	position: absolute;
	top: 30px;
	right: 0;
	background-color: #eef2f6;
	padding: 10px 30px 8px 40px;
	border-radius: 50px 0px 0px 50px;

	img{
		width: 30vh;
		height: auto;
	}
}

.text-soon-regular{
	font-family: $poppins-regular;
	font-size: 5vh;
	color: #fff;
}

.text-soon{
	font-family: $poppins-bold;
	font-size: 8vh;
	color: #fff;
	margin-bottom: 20px;
}

.logo-hilite{
	width: 20vh;
	height: auto;
}

.img-device{
	position: absolute;
	z-index: 2;
	width: 100vh;
	height: auto;
	left: 0;
	right: 0;
	bottom: 0%;
	margin: auto;
}

footer{
	font-family: $roboto-regular;
	font-size: 16px;
	color: #11183f;
	background-color: rgba(231, 231, 231, 0.63);
	padding: 10px 0px;
	text-align: center;
	border-top: 2px solid #fff;
}