@import 'global';

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	.warp-soon{
		background-image: 
			url('../images/background-desktop.png'), 
			linear-gradient(144deg, #093a67, #38e8be 134%);
		height: calc(100% - 46px);
		&:after{
			height: 275px;
		}
	}

	.soon{
		padding: 150px 15px 50px;
	}

	.logo-sindonews{
		top: 40px;
		padding: 8px 20px 6px 30px;

		img{
			width: 220px;
			height: auto;
		}
	}

	.text-soon-regular{
		font-size: 40px;
		margin-bottom: 30px;
	}

	.text-soon{
		font-size: 62px;
		margin-bottom: 50px;
	}

	.logo-hilite{
		width: 200px;
		margin-bottom: 120px;
	}

	.img-device{
		width: 530px;
		bottom: 5%;
	}

	footer{
		font-size: 16px;
	}
}

@media (max-height: 428px) and (max-width: 926.98px) {
	.warp-soon{
		height: 1000px;
	}
}