@import 'global';

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	.warp-soon{
		background-image: 
			url('../images/background-mobile.png'), 
			linear-gradient(144deg, #093a67, #38e8be 134%);
		height: calc(100% - 40px);
		&:after{
			height: 275px;
		}
	}

	.soon{
		padding: 35% 15px 50px;
	}

	.logo-sindonews{
		top: 40px;
		padding: 8px 20px 6px 30px;

		img{
			width: 172px;
			height: auto;
		}
	}

	.text-soon-regular{
		font-size: 33px;
		margin-bottom: 10%;
	}

	.text-soon{
		font-size: 43px;
		margin-bottom: 10%;
	}

	.logo-hilite{
		width: 172px;
	}

	.img-device{
		width: 300px;
		bottom: 7%;
	}

	footer{
		font-size: 12px;
	}
}