@import 'global';

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
	.warp-soon{
		background-image: 
			url('../images/background-desktop.png'), 
			linear-gradient(144deg, #093a67, #38e8be 134%);
		height: 1000px;
		&:after{
			height: 275px;
		}
	}

	.soon{
		padding: 180px 15px 50px;
	}

	.logo-sindonews{
		top: 40px;
		padding: 8px 20px 6px 30px;

		img{
			width: 295px;
			height: auto;
		}
	}

	.text-soon-regular{
		font-size: 64px;
		margin-bottom: 0px;
	}

	.text-soon{
		font-size: 72px;
		margin-bottom: 30px;
	}

	.logo-hilite{
		width: 220px;
		margin-bottom: 100px;
	}

	.img-device{
		width: 700px;
		bottom: 5%;
	}

	footer{
		font-size: 16px;
	}
}