@import "global";

/* Footer */
footer{
	margin-top: 28px;
	padding: 80px 100px 0px;
	background: url('../images/bg-footer.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-wrap: wrap;
}

.warp-logo{
	width: 43%;
	padding-right: 100px;
}

.logo-sindonews-footer{
	margin-bottom: 32px;

	img{
		width: 433px;
		height: auto;
		display: block;
		margin: auto;
	}
}

.warp-link-two-col{
	width: 23%;

	.link-footer{
		width: 50%;

		a{
			font-family: $roboto-regular;
			font-size: 14px;
			color: $color-caption;
			transition: $trans-hover;
			padding: 7px 0px;
			display: block;
			position: relative;

			&:hover{
				color: #004a8e;
			}
		}
	}
}

.warp-link-one-col{
	width: 11%;

	.link-footer{
		width: 100%;

		a{
			font-family: $roboto-regular;
			font-size: 14px;
			color: $color-caption;
			transition: $trans-hover;
			padding: 7px 0px;
			display: block;
			position: relative;

			&:hover{
				color: #004a8e;
			}
		}
	}
}

.title-footer{
	font-family: $roboto-bold;
	font-size: 18px;
	color: $color-caption;
	margin-bottom: 20px;
}

.download-apps{
	margin-bottom: 32px;
	text-align: center;

	img{
		width: auto;
		height: 43px;
		margin: 0px 15px;
	}
}

.social-footer{
	text-align: center;

	img{
		width: 40px;
		height: 40px;
		margin: 0px 12px;
	}
}

.img-mnp{
	margin: 100px 0px 70px;
	width: 100%;

	img{
		width: 191px;
		height: auto;
		margin: auto;
		display: block;
	}
}

.copy{
	background-color: rgba(231, 231, 231, 0.63);
	padding: 8px 0px;
	text-align: center;
	font-family: $roboto-regular;
	font-size: 16px;
	color: $color-caption;
}