$color-primary: #093a67;
$color-title: #282828;
$color-caption: rgba(43, 43, 43, 0.9);
$color-border: rgba(85, 85, 85, 0.25);
$color-swipe: #9e9c9c;

$trans-hover: ease all 0.4s;

@font-face {
    font-family: Heebo-Regular;
    src: url('../fonts/heebo/static/Heebo-Regular.ttf');
}

@font-face {
    font-family: Heebo-Bold;
    src: url('../fonts/heebo/static/Heebo-Bold.ttf');
}

@font-face {
    font-family: Heebo-Medium;
    src: url('../fonts/heebo/static/Heebo-Medium.ttf');
}

@font-face {
    font-family: Heebo-Semi;
    src: url('../fonts/heebo/static/Heebo-SemiBold.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('../fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto-Light;
    src: url('../fonts/roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}

$heebo-regular: "Heebo-Regular", Arial, Tahoma;
$heebo-bold: "Heebo-Bold", Arial, Tahomaa;
$heebo-med: "Heebo-Medium", Arial, Tahoma;
$heebo-semi: "Heebo-Semi", Arial, Tahoma;

$roboto-regular: "Roboto-Regular", Arial, Tahoma;
$roboto-bold: "Roboto-Bold", Arial, Tahoma;
$roboto-med: "Roboto-Medium", Arial, Tahoma;
$roboto-light: "Roboto-Light", Arial, Tahoma;


html, body{
    position: relative;
    height: 100%;
    margin: 0;
}

body{
    font-family: "Heebo-Regular", Arial, Tahoma !important;
    line-height: 1.5;
    scroll-behavior: smooth;
    background-color: #fff !important;
    background-image: none !important;
}

a{
    text-decoration: none !important;

    &:hover, &:focus{
        text-decoration: none !important;
    }
}

.content-row{
    display: flex;
    flex-wrap: wrap;
}

.content-clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content-left{
    float: left;
}

.content-right{
    float: right;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

*, ::before, ::after{
    box-sizing: border-box;
}

.swiper {
    width: 100%;
    height: 100%;
}

.nasional{
    border-left: 5px solid #e20a18;
}

.international{
    border-left: 5px solid #49b5ee;
}

.metro{
    border-left: 5px solid #fa7121;
}

.daerah{
    border-left: 5px solid #1ca34a;
}

.lifestyle{
    border-left: 5px solid #e73280;
}

.ekonomi-bisnis{
    border-left: 5px solid #9dd204;
}

.sains{
    border-left: 5px solid #1c3c62;
}

.sports{
    border-left: 5px solid #1452af;
}

.edukasi{
    border-left: 5px solid #fcc608;
}

.otomotif{
    border-left: 5px solid #949494;
}

.gensindo{
    border-left: 5px solid #0168ff;
}

.kalam{
    border-left: 5px solid #c29800;
}

.video{
    border-left: 5px solid #b821bb;
}

.photo{
    border-left: 5px solid #2fbfb0;
}

.infografis{
    border-left: 5px solid #ff8d5c;
}

.tekno{
    border-left: 5px solid #a5cad6;
}

.autotekno{
    border-left: 5px solid #a5cad6;
}

.worldwide{
    border-left: 5px solid #49b5ee;
}


.nav-nasional{
    border-bottom: 3px solid #e20a18;
}

.nav-international{
    border-bottom: 3px solid #49b5ee;
}

.nav-metro{
    border-bottom: 3px solid #fa7121;
}

.nav-daerah{
    border-bottom: 3px solid #1ca34a;
}

.nav-lifestyle{
    border-bottom: 3px solid #e73280;
}

.nav-ekonomi-bisnis{
    border-bottom: 3px solid #9dd204;
}

.nav-sains{
    border-bottom: 3px solid #1c3c62;
}

.nav-sports{
    border-bottom: 3px solid #1452af;
}

.nav-edukasi{
    border-bottom: 3px solid #fcc608;
}

.nav-otomotif{
    border-bottom: 3px solid #949494;
}

.nav-gensindo{
    border-bottom: 3px solid #0168ff;
}

.nav-kalam{
    border-bottom: 3px solid #c29800;
}

.nav-video{
    border-bottom: 3px solid #b821bb;
}

.nav-photo{
    border-bottom: 3px solid #2fbfb0;
}

.nav-infografis{
    border-bottom: 3px solid #ff8d5c;
}

.nav-tekno{
    border-bottom: 3px solid #a5cad6;
}

.nav-autotekno{
    border-bottom: 3px solid #a5cad6;
}

.nav-worldwide{
    border-bottom: 3px solid #49b5ee;
}

.bred-nasional{
    .active{
        color: #e20a18;
    }
    
    a:hover{
        color: #e20a18;
    }
}

.bred-international{
    .active{
        color: #49b5ee;
    }
    
    a:hover{
        color: #49b5ee;
    }
}

.bred-metro{
    .active{
        color: #fa7121;
    }
    
    a:hover{
        color: #fa7121;
    }
}

.bred-daerah{
    .active{
        color: #1ca34a;
    }
    
    a:hover{
        color: #1ca34a;
    }
}

.bred-lifestyle{
    .active{
        color: #e73280;
    }
    
    a:hover{
        color: #e73280;
    }
}

.bred-ekonomi-bisnis{
    .active{
        color: #9dd204;
    }
    
    a:hover{
        color: #9dd204;
    }
}

.bred-sains{
    .active{
        color: #1c3c62;
    }
    
    a:hover{
        color: #1c3c62;
    }
}

.bred-sports{
    .active{
        color: #1452af;
    }
    
    a:hover{
        color: #1452af;
    }
}

.bred-edukasi{
    .active{
        color: #fcc608;
    }
    
    a:hover{
        color: #fcc608;
    }
}

.bred-otomotif{
    .active{
        color: #949494;
    }
    
    a:hover{
        color: #949494;
    }
}

.bred-gensindo{
    .active{
        color: #0168ff;
    }
    
    a:hover{
        color: #0168ff;
    }
}

.bred-kalam{
    .active{
        color: #c29800;
    }
    
    a:hover{
        color: #c29800;
    }
}

.bred-video{
    .active{
        color: #b821bb;
    }
    
    a:hover{
        color: #b821bb;
    }
}

.bred-photo{
    .active{
        color: #2fbfb0;
    }
    
    a:hover{
        color: #2fbfb0;
    }
}

.bred-infografis{
    .active{
        color: #ff8d5c;
    }
    
    a:hover{
        color: #ff8d5c;
    }
}

.bred-tekno{
    .active{
        color: #a5cad6;
    }
    
    a:hover{
        color: #a5cad6;
    }
}

.bred-autotekno{
    .active{
        color: #a5cad6;
    }
    
    a:hover{
        color: #a5cad6;
    }
}

.bred-worldwide{
    .active{
        color: #49b5ee;
    }
    
    a:hover{
        color: #49b5ee;
    }
}


*{
    -webkit-tap-highlight-color: transparent;
}

img{
    color: rgba(0, 0, 0, 0);
}

.ads300 {
    width: 300px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    border-radius: 0px !important;
}
.ads320 {
    width: 320px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 0px !important;
}
.ads336 {
    width: 336px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 0px !important;
}
.ads970 {
    width: 970px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 0px !important;
}
.ads1x1 {
    width: 1px;
    height: 1px
}


.mt8{
    margin-top: 8px;
}
.mt16 {
    margin-top: 16px;
}
.mt24 {
    margin-top: 24px;
}
.mt32 {
    margin-top: 32px;
}

.mb8 {
    margin-bottom: 8px;
}
.mb16 {
    margin-bottom: 16px;
}
.mb24 {
    margin-bottom: 24px;
}
.mb32 {
    margin-bottom: 32px;
}

.mt-mb-16 {
    margin: 16px 0px;
}
.mt-mb-32 {
    margin: 32px 0px;
}

.pt-pb-32 {
    padding: 32px 0px;
}
.pt16 {
    padding-top: 16px;
}
.pb16 {
    padding-bottom: 16px;
}

.embed-video, .embed-social{
    margin: 16px auto;
    text-align: center;
}
