@import 'global';

.head{
	position: relative;
	z-index: 99;
    background-color: #ffffff;
}

.header{
	display: flex;
	flex-wrap: wrap;
	background-color: #fff;
	padding: 32px 0px 27px;
	transition: ease all 0.5s;
}

.logo{
	width: 324px;
	height: 68px;
	float: left;
	padding: 7px 0px;
	transition: ease all 0.5s;

	img{
		width: 324px;
		height: auto;
		transition: ease all 0.5s;
	}
}

.search{
	margin-left: 60px;
	padding: 14px 0px;
}

.warp-search-text{
	position: relative;
	width: 330px;
	height: 40px;
}

.txt-search-head{
	font-family: $roboto-regular;
	font-size: 14px;
	color: #979797;
	border: 1px solid #cecece;
	padding: 12px 50px 12px 16px;
	border-radius: 52px;
	background-color: #fff;
	width: 100%;
	height: 100%;

	&:focus{
		color: #000;
	}
}

.btn-search-head{
	height: 35px;
	width: 45px;
	border: none;
	font-size: 14px;
	position: absolute;
	right: 3px;
	top: 3px;
	background-color: #fff;
	color: #004b8f;
	border-radius: 50px;
	cursor: pointer;
}

.warp-login{
	font-family: $roboto-bold;
	font-size: 16px;
	padding: 15px 0px;
	display: flex;
	flex-wrap: wrap;
	margin-left: 44px;
	width: 186px;

	.btn-masuk{
		padding: 6px 0px;

		a{
			color: $color-caption;
			padding: 20px;
			transition: $trans-hover;

			&:hover{
				background: #e5e5e5;
				padding: 10px 20px;
				border-radius: 100px;
			}
		}
	}

	.btn-daftar{
		padding: 6px 0px;

		a{
			color: #084d8d;
			padding: 20px;
			transition: $trans-hover;

			&:hover{
				background: #e5e5e5;
				padding: 10px 20px;
				border-radius: 100px;
			}
		}

		&:after{
			content:"|";
			color: #d9d9d9;
			margin-right: 5px;
		}
	}
}

.menu{
	padding: 19px 0px;
	font-family: $roboto-bold;
	font-size: 16px;
	width: 112px;
	text-align: right;
	cursor: pointer;
	color: $color-caption;

	#CloseNav{
		display: none;
	}

	#CloseNavFloat{
		display: none;
	}

	i.open-nav{
		color: #fff;
		font-size: 16px;
		background-color: #084d8d;
		border-radius: 50px;
		padding: 6px 7px;
		margin-left: 8px;
	}

	i.close-nav{
		color: #9d9d9d !important;
		font-size: 20px;
		background-color: #fff !important;
		border-radius: 50px;
		padding: 4px 7px !important;
		margin-left: 8px;
	}
}

nav{
	position: relative;
	z-index: 95;
	padding: 15px 0px 0px;
	background-color: #f9f9f9;

	.swiper-slide{
		width: auto !important;
		padding-bottom: 15px;
	}

	a{
		font-family: $roboto-bold;
		font-size: 16px;
		color: $color-caption;
		padding-bottom: 15px;

		&:hover{
			color: $color-primary;
		}
	}
}

.nav-slide-scroll{
	-webkit-box-shadow: -1px 7px 7px -5px rgba(191,191,191,1);
	-moz-box-shadow: -1px 7px 7px -5px rgba(191,191,191,1);
	box-shadow: -1px 7px 7px -5px rgba(191,191,191,1);
}

/* Nav Primary */
.side-nav{
	position: fixed;
	right: -600px;
	top: 0px;
	visibility: hidden;
	z-index: 98;
	width: 355px;
	height: 100%;
	background-color: #fff;
	padding-top: 126px;
	padding-bottom: 170px;
	overflow-x: scroll;
	transition: ease all 0.7s;
	scrollbar-width: thin;
	scrollbar-color: $color-primary #eee;
}

.nav-title{
	font-family: $roboto-bold;
	font-size: 20px;
	color: $color-caption;
	margin: 16px 0px 6px;
	padding: 0px 20px;
}

.nav-sec-kanal{
	margin-top: 20px;
}

.warp-nav-kanal{
	display: flex;
	flex-wrap: wrap;
}

.list-nav-kanal{
	width: 50%;

	img{
		width: 16px;
		height: 16px;
		margin-right: 8px;
		vertical-align: middle;
	}

	a{
		font-family: $roboto-regular;
		font-size: 14px;
		color: $color-caption;
		padding: 10px 20px;
		display: block;

		&:hover{
			// background-color: #eaeaea;
			background-color: #F9F9F9;
		}
	}
}

.warp-spesial-nav{
	position: relative;
	height: 50px;
	margin-top: 10px;

	img{
		position: absolute;
		left: -10px;
		width: 360px;
	}

	&:hover span.hi-lite{
		color: #38e8be;
	}

	&:hover span.scope{
		color: #13cae6;
	}

	&:hover i.hi-lite{
		background-color: #38e8be;
		border: 3px solid #38e8be;
		color: #093a67;
	}

	&:hover i.scope{
		background-color: #13cae6;
		border: 3px solid #13cae6;
		color: #093a67;
	}
}

.nav-scope{
	margin-top: 16px;
	margin-bottom: 20px;
}

.nav-spesial{
	font-family: $roboto-bold;
	font-size: 20px;
	color: #fff;
	position: absolute;
	top: 9px;
	width: 100%;
	padding: 0px 20px;

	i{
		margin-right: 16px;
		border-radius: 50px;
		font-size: 14px;
		height: 25px;
		width: 25px;
		padding: 3px 0px;
		position: relative;
		top: -2px;
	}

	i.hi-lite{
		border: 3px solid #38e8be;
		color: #38e8be;
		transition: $trans-hover;
	}

	i.scope{
		border: 3px solid #13cae6;
		color: #13cae6;
		transition: $trans-hover;
	}

	span{
		float: right;
		font-family: $roboto-med;
		font-size: 12px;
		color: #fff;
		padding: 9px 10px;
		transition: $trans-hover;
		position: relative;
		top: -3px;
	}
}

.warp-nav-side{
	display: flex;
	flex-wrap: wrap;
}

.list-nav-side{
	width: 50%;

	img{
		width: 16px;
		height: 16px;
		margin-right: 8px;
	}

	a{
		font-family: $roboto-regular;
		font-size: 14px;
		color: $color-caption;
		display: block;
		padding: 10px 20px;

		&:hover{
			background-color: #F9F9F9;
		}
	}
}

.warp-sticky-header{
	position: relative;
}

.sticky-header{
	position: fixed;
	z-index: 99;
	top: -300px;
	left: 0;
	width: 100%;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0 3px 20px 0 rgba(0,0,0,0.25);
	transition: $trans-hover;

	.logo-sticky{
		width: 40px;
		padding: 5px 0px 0px;

		img{
			width: 40px;
			height: 37px;
		}

		a{
			display: block;
		}
	}

	.control-nav{
		width: 40px;
		padding: 9px 0px;
		position: relative !important;

		&:hover{
			color: rgba(121, 122, 122, 0.9);
		}

		.swiper-button-next::after, .swiper-button-prev::after{
			font-size: 16px;
		}

		.swiper-button-next, .swiper-button-prev{
			color: $color-caption !important;
		}
	}

	.control-nav-left{
		text-align: right;
		padding-right: 5px;
	}

	.control-nav-right{
		text-align: left;
		padding-left: 5px;
	}	

	.nav-kanal{
		width: calc(100% - 40px - 150px - 80px);
		padding: 13px 10px 0px 10px;
		background-color: #fff;

		.swiper-slide{
			width: auto !important;
			padding-bottom: 11px;
		}

		a{
			font-family: $roboto-bold;
			font-size: 16px;
			color: $color-caption;
			padding-bottom: 11px;

			&:hover{
				color: $color-primary;
			}
		}
	}

	.left-sticky-header{
		width: 150px;
		display: flex;
		flex-wrap: wrap;

		.search{
			padding: 12px 0px;
			width: 50px;
			margin-left: 0px;
			text-align: right;
			position: relative;
			z-index: 70;

			form:hover .txt-search{
				visibility: visible;
				width: 250px;
			  	transition: width .20s ease-in-out;
			}

			.btn-search-floating{
				font-size: 20px;
				color: $color-primary;
				position: absolute;
				right: 3px;
				z-index: 21;
				background: #fff;
				padding: 3px 7px 3px 7px;
				top: 10px;
				border-radius: 0px 50px 50px 0px;
				cursor: pointer;
				border: none;
			}

			.txt-search{
				width: 0px;
				visibility: hidden;
				font-family: $roboto-regular;
				font-size: 16px;
				background-color: #fff;
				color: $color-caption;
				border-radius: 50px;
				border: 1px solid #cecece;
				padding: 7px 39px 7px 12px;
				position: absolute;
				right: 0;
				top: 8px;
				z-index:20px;

				&:focus{
					visibility: visible;
					width: 250px;
				  	transition: width .20s ease-in-out;
				}
			}
		}

		.menu{
			width: calc(100% - 50px);
			padding: 9px 0px;
		}
	}
}