@import 'global';

.container{
    width: 1056px;
    max-width: 1056px;
    padding: 0px !important;
    margin: auto;
}

/* Skeleton */
.img-artikel.loading{
	width:  100%;
	height:  130px;
	border-radius:  4px;
	margin-bottom: 18px;
}

.title-artikel.loading{
	height: 1rem;
    width: 100%;
    border-radius: 3px;
	margin-top: 8px;
}

.title-artikel-80.loading{
	height: 1rem;
    width: 80%;
    border-radius: 3px;
	margin-top: 4px;
}

.loading {
    display: inline-block;
	position: relative;
	overflow: hidden;
	background-color: #cfcfcf !important;
}

.loading::after {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background: -webkit-gradient(linear, left top,
        right top, from(transparent), 
        color-stop(rgba(255, 255, 255, 0.2)),
        to(transparent));
          
    background: linear-gradient(90deg, transparent,
            rgba(255, 255, 255, 0.2), transparent);
    animation: loading 2s infinite;
    content: '';
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

#after-loading{
	display:  none;
}

/* Utility */

.stop-scrolling { 
    height: 100%; 
    overflow: hidden; 
} 

.title-section{
	position: relative;
	padding: 16px 0px;
	margin-bottom: 8px;
	
	span{
		position: relative;
		font-family: $roboto-med;
		font-size: 24px;
		color: #282828;
		z-index: 2;
	}
		
	&:before{
		position: absolute;
		left: 0px;
		bottom: 0px;
	}

	a{
		font-family: $roboto-med;
		font-size: 16px;
		padding: 4px 8px;
		color: #084d8d;
		border-radius: 10px;
		border: 1.5px solid #084d8d;
		float: right;
		transition: $trans-hover;

		&:hover{
			background-color: #084d8d;
			color: #fff;
		}
	}
}

.title-section-daerah{
	&:before{
		content: url('../images/ornamen/title_section/daerah.png');
	}
}
.title-section-edukasi{
	&:before{
		content: url('../images/ornamen/title_section/edukasi.png');
	}
}
.title-section-ekonomi-bisnis{
	&:before{
		content: url('../images/ornamen/title_section/ekbis.png');
	}
}
.title-section-photo{
	&:before{
		content: url('../images/ornamen/title_section/foto.png');
	}
}
.title-section-gensindo{
	&:before{
		content: url('../images/ornamen/title_section/gensindo.png');
	}
}
.title-section-infografis{
	&:before{
		content: url('../images/ornamen/title_section/infografis.png');
	}
}
.title-section-international{
	&:before{
		content: url('../images/ornamen/title_section/internasional.png');
	}
}
.title-section-kalam{
	&:before{
		content: url('../images/ornamen/title_section/kalam.png');
	}
}
.title-section-lifestyle{
	&:before{
		content: url('../images/ornamen/title_section/lifestyle.png');
	}
}
.title-section-metro{
	&:before{
		content: url('../images/ornamen/title_section/metro.png');
	}
}
.title-section-nasional{
	&:before{
		content: url('../images/ornamen/title_section/nasional.png');
	}
}
.title-section-otomotif{
	&:before{
		content: url('../images/ornamen/title_section/otomotif.png');
	}
}
.title-section-sains{
	&:before{
		content: url('../images/ornamen/title_section/sains.png');
	}
}
.title-section-sports{
	&:before{
		content: url('../images/ornamen/title_section/sports.png');
	}
}
.title-section-tekno{
	&:before{
		content: url('../images/ornamen/title_section/tekno.png');
	}
}
.title-section-autotekno{
	&:before{
		content: url('../images/ornamen/title_section/tekno.png');
	}
}
.title-section-video{
	&:before{
		content: url('../images/ornamen/title_section/video.png');
	}
}
.title-section-worldwide{
	&:before{
		content: url('../images/ornamen/title_section/internasional.png');
	}
}

/* End Title Section */

.hr-section{
	margin: 32px 0px;
	border-top: 1px dotted #282828;
}

.widget-mpi{
	margin-bottom: 32px;
}

/* To Top */
.btn-2top {
	display: none;
	position: fixed;
	bottom: 30px;
	right: 15px;
	z-index: 88;
	border: none; 
	outline: none; 
	background-color: rgba(0, 0, 0, 0.5); 
	color: #fff;
	cursor: pointer;
	padding: 6px 14px 11px;
	border-radius: 100px;
	font-size: 27px;
	transition: ease all 0.7s;

	&:focus{
		outline: none; 
	}
}

/* Notifikasi */
.notifikasi{
	position: absolute;
	top: -100px;
	left: 0px;
	right: 0px;
	margin: auto;
	z-index: 99;
	width: max-content;
	font-family: $heebo-med;
	font-size: 18px;
	color: #fff;
	background: rgb(22,87,148);
	background: linear-gradient(180deg, rgba(22,87,148,1) 0%, rgba(9,58,103,1) 100%);
	padding: 8px 32px;
	border-radius: 50px;
	cursor: pointer;
	-webkit-box-shadow: -4px 8px 14px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -4px 8px 14px -9px rgba(0,0,0,0.75);
	box-shadow: -4px 8px 14px -9px rgba(0,0,0,0.75);
	visibility: hidden;
	transition: $trans-hover;

	i{
		margin-right: 8px;
	}
}

/* Embed */
.foto-embed{
	margin: 15px 0px;

	.swiper-button-next::after, .swiper-button-prev::after{
		font-size: 18px;
		background-color: #fff;
		padding: 9px 13px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100px;
		font-weight: bold;
		color: #000;
	}

	.swiper{
		border-radius: 8px;
	}
}

.list-foto-embed{
	width: 100%;

	img{
		display: block;
		width: 100%;
		height: auto;
		object-fit: cover;
		object-position: top;
		border-radius: 8px 8px 0px 0px !important;
	}

	.warp-title-foto-embed{
		display: flex;
		flex-wrap: wrap;
		background-color: #282828;
		border-radius: 0px 0px 8px 8px;
		padding: 9px 20px;
	}

	.count-foto{
		width: 5%;
		font-family: $roboto-regular;
		font-size: 12px;
		color: #dadada;
		padding: 3px 0px;
	}

	.title-foto{
		width: 80%;
		font-family: $roboto-regular;
		font-size: 12px;
		color: #dadada;
		padding: 3px 0px;
	}

	.more-foto{
		width: 15%;
		text-align: right;

		a{
			font-family: $roboto-med;
			font-size: 12px;
			transition: $trans-hover;
			color: #fff;
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: end;

			&:hover{
				color: #fff;
				
				i{
					color: #282828;
					background-color: #fff;
				}
			}
		}

		i{
			margin-right: 5px;
			border: 2px solid #fff;
			border-radius: 50px;
			font-size: 12px;
			height: 25px;
			width: 25px;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: $trans-hover;
		}
	}
}

.video-embed{
	margin: 15px 0px;
}

.list-video-embed{
	width: 100%;

	img{
		display: block;
		width: 100%;
		height: 448px;
		object-fit: cover;
		object-position: top;
		border-radius: 8px 8px 0px 0px !important;
	}

	.warp-title-video-embed{
		display: flex;
		flex-wrap: wrap;
		background-color: #282828;
		border-radius: 0px 0px 8px 8px;
		padding: 9px 20px;
	}

	.title-video{
		width: 80%;
		font-family: $roboto-regular;
		font-size: 12px;
		color: #dadada;
		padding: 3px 0px;
	}

	.more-video{
		width: 20%;
		text-align: right;

		a{
			font-family: $roboto-med;
			font-size: 12px;
			color: #fff;
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: end;

			&:hover{
				color: #fff;
				
				i{
					color: #282828;
					background-color: #fff;
				}
			}
		}

		i{
			margin-right: 5px;
			border: 2px solid #fff;
			border-radius: 50px;
			font-size: 12px;
			height: 25px;
			width: 25px;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: $trans-hover;
		}
	}
}

.infografis-embed{
	margin: 15px 0px;
}

.list-infografis-embed{
	width: 100%;

	img{
		display: block;
		width: 100%;
		height: auto;
		object-fit: cover;
		object-position: top;
		border-radius: 8px 8px 0px 0px !important;
	}

	.warp-title-infografis-embed{
		display: flex;
		flex-wrap: wrap;
		background-color: #282828;
		border-radius: 0px 0px 8px 8px;
		padding: 9px 20px;
	}

	.title-infografis{
		width: 75%;
		font-family: $roboto-regular;
		font-size: 12px;
		color: #dadada;
		padding: 3px 0px;
	}

	.more-infografis{
		width: 25%;
		text-align: right;

		a{
			font-family: $roboto-med;
			font-size: 12px;
			color: #fff;
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: end;

			&:hover{
				color: #fff;
				
				i{
					color: #282828;
					background-color: #fff;
				}
			}
		}

		i{
			margin-right: 5px;
			border: 2px solid #fff;
			border-radius: 50px;
			font-size: 12px;
			height: 25px;
			width: 25px;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: $trans-hover;
		}
	}
}

/* Widget No Scroll */

.warp-widget-hi-lite-no-scroll{
	background: url('../images/bg-hilite.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	width: 154px;
	height: 196px;
	border-radius: 0px 8px 8px 0px;
	padding: 60px 26px;
	color: #fff;

	&:hover span{
		visibility: visible;
		opacity: 1;
	}
}

.warp-artikel-hilite-no-scroll{
	width: calc(100% - 154px);
	border-radius: 6px;
	position: relative;
	padding-left: 10px;
	display: flex;
	flex-wrap: wrap;
}

.list-artikel-hilite-no-scroll{
	width: 20%;
	padding: 0px 10px;

	&:hover .title-artikel-hilite{
		color: $color-primary;
	}

	.img-artikel-hilite{
		position: relative;

		img{
			width: 100%;
			height: 110px;
			object-fit: cover;
			object-position: top;
			border-radius: 6px;
		}
	}

	.icon-img{
		position: absolute;
		bottom: 5px;
		right: 5px;

		img{
			width: 20px;
			height: 20px;
		}
	}
}

/* Widget Hilite */
.widget-hi-lite{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.warp-widget-hi-lite{
	background: url('../images/bg-hilite.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	width: 154px;
	height: 196px;
	border-radius: 0px 8px 8px 0px;
	padding: 60px 26px;
	color: #fff;

	&:hover span{
		visibility: visible;
		opacity: 1;
	}
}

.logo-hi-lite-explore{
	img{
		width: 106px;
		height: auto;
		display: block;
		margin: auto;
	}
}

.btn-more-explore{
	margin-top: 35px;
	font-family: $roboto-regular;
	font-size: 10px;

	a{
		color: #fff;
	}

	span{
		visibility: hidden;
		opacity: 0;
		transition: $trans-hover;
	}

	i{
		font-size: 10px;
		border-radius: 100px;
		border: 2.5px solid #fff;
		padding: 3.5px 0px;
		margin-right: 5px;
		width: 22px;
		height: 22px;
	}
}

.warp-artikel-hilite{
	width: calc(100% - 154px);
	padding-left: 25px;
	border-radius: 6px;
	position: relative;

	.swiper-slide{
		width: 194px !important;
	}

	.swiper-button-next, .swiper-button-prev{
		visibility: hidden;
		opacity: 0;
		transition: $trans-hover;
		outline: none;
		z-index: 50 !important;
	}

	&:hover .swiper-button-next{
		visibility: visible;
		opacity: 1;
		transition: $trans-hover;
	}

	&:hover .swiper-button-prev{
		visibility: visible;
		opacity: 1;
		transition: $trans-hover;
	}

	.swiper-button-next::after, .swiper-button-prev::after{
		font-size: 13px;
		background-color: #fff;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
		padding: 9px 12px;
		border-radius: 100px;
		font-weight: bold;
		color: #000;
	}

	.swiper-button-next, .swiper-rtl .swiper-button-prev{
		// right: -10px;
		right: 11px;
		left: auto;
	}
}

.list-artikel-hilite{
	display: inline-block;
	width: 194px;

	&:hover .title-artikel-hilite{
		color: $color-primary;
	}

	.img-artikel-hilite{
		position: relative;

		img{
			width: 100%;
			height: 110px;
			object-fit: cover;
			border-radius: 6px;
		}
	}

	.icon-img{
		position: absolute;
		bottom: 5px;
		right: 5px;

		img{
			width: 20px;
			height: 20px;
		}
	}
}

.title-artikel-hilite{
	font-family: $heebo-med;
	font-size: 16px;
	color: #282828;
	height: 75px;
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	white-space: normal;
}

/* Paging */
.paging{
	background-color: #f9f9f9;
	padding: 10px 15px;
	margin: 15px -15px;
	display: flex;
	flex-wrap: wrap;

	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
		width: calc(100% - 100px);
	}

	li{
		display: inline-block;
		margin-right: 6px;

		&:last-child{
			margin-right: 0px;
		}
	}

	a{
		font-family: $roboto-med;
		font-size: 16px;
		color: #084d8d;
		padding: 1px 6px;
		border-radius: 50px;
		background-color: #fff;
		border: 1.5px solid #084d8d;
		transition: $trans-hover;

		&:hover{
			background-color: #084d8d;
			color: #fff;
		}
	}

	.active{
		font-family: $roboto-med;
		font-size: 16px;
		color: #fff;
		padding: 1px 6px;
		border-radius: 50px;
		background-color: #084d8d;
		border: 1.5px solid #084d8d;
	}

	.paging-all{
		width: 100px;
		text-align: right;

		a{
			font-family: $roboto-med;
			font-size: 16px;
			color: #084d8d;
			padding: 4px 8px;
			border-radius: 6px;
			transition: $trans-hover;

			&:hover{
				color: #fff;
			}
		}
	}

	.title-paging{
		width: 100%;
		margin-bottom: 6px;
		font-family: $roboto-regular;
		font-size: 16px;
		color: $color-caption;
	}
}

/* Home */
/* Navigasi */

.nav-home{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99;
	height: 56px;
	background-color: $color-primary;
	padding: 8px 36px;
	width: 100%;
} 

.ic-back{
	position: absolute;
	left: 24px;
	top: 0;
	margin: 16px 0px;

	a{
		color: #fff;
		font-family: $heebo-bold;
		font-size: 16px;
	}
	
	i{
		font-size: 16px;
		margin-right: 6px;
	}
	
}

.logo-hilite{
	img{
		width: 110px;
		height: 40px;
		display: block;
		margin: auto;
	}
}

/* List Artikel */

.list-artikel{
	width: 100%;
	height: 100%;
	// background-color: #000000;
	display: flex;
	flex-wrap: wrap;
	padding-top: 56px;

	.swiper-button-next, .swiper-button-prev{
		padding: 0px 50px;
		outline: none;
		z-index: 50 !important;
	}

	.swiper-button-next::after, .swiper-button-prev::after {
		font-size: 17px !important;
		font-weight: bold;
		background-color: #fff;
		padding: 10px 13px 9px 14px;
		border-radius: 50px;
		color: #000;
	}

	.swiper-pagination-bullet{
		background: var(--swiper-pagination-bullet-inactive-color,#fff) !important;
	}

	.swiper-pagination-bullet-active{
		background: var(--swiper-pagination-bullet-inactive-color,$color-primary) !important;
	}
}

.img-artikel{
	position: relative;
	width: 65%;
	height: 100%;
	display: flex;
	background-color: #000;

	img{
		width: 100%;
		height: auto;
		margin: auto;
		object-fit: cover;
		object-position: top;
	}
}

.box-video{
	position: relative;
	width: 65%;
	height: 100%;
	background-color:#000;
}

.img-video{
	height: auto !important;
	width: 100%;
	margin: auto;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.warp-video{
	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	height: 0;

  	iframe{
  		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
  	}
}

.img-infografis{
	width: 65%;
	height: 100%;
	display: flex;
	background-color: #000;

	img{
		width: auto;
		height: 100%;
		margin: auto;
		display: block;
	}
}

.img-foto{
	position: relative;
	width: 100%;
	height: 100%;
}

.slide-foto{
	width: auto;
	height: 100%;
	background-color: #000;

	img{
		width: 100%;
		height: 100% !important;
		margin: auto;
		display: block;
		object-fit: contain;
	}
}

.warp-desc-artikel{
	position: relative;
	width: 35%;
	background-color: #fff;
	padding: 0px 35px;
	display: flex;
}

.box-desc-artikel{
	width: 100%;
	height: auto;
	margin: auto;
}

.kanal{
	font-family: $heebo-med;
	font-size: 16px;
	padding-left: 10px;
	color: #4d4d4d;
}

.title{
	font-family: $heebo-bold;
	font-size: 22px;
	color: $color-title;
	margin-top: 11px;
}

.desc{
	font-family: $heebo-regular;
	font-size: 16px;
	color: $color-caption;
	margin-top: 10px;
}

.warp-social-share{
	display: flex;
	flex-wrap: wrap;
	margin-top: 25px;
	justify-content: center;

	.st-custom-button{
		display: inline-block;
		margin-right: 16px;
		cursor: pointer;
		padding-top: 5px;
		transition: ease all 0.2s;

		&:last-child{
			margin-right: 0px;
		}

		&:hover{
			padding-top: 1px;
		}
	}

	img{
		width: 32px;
		height: 32px;
	}
}

.selengkapnya{
	width: 100%;
	text-align: center;
	margin-top: 25px;


	a{
		color: $color-primary;
		font-family: $heebo-med;
		font-size: 14px;
		padding: 10px 0px;
		display: block;
		border: 2px solid $color-primary;
		border-radius: 10px;
		background-position: center;
		background-color: #ffffff;
		transition: background 0.5s;

		&:focus{
			color: $color-primary;
		}

		&:hover{
			color: #fff;
			background: $color-primary radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
		}

		&:active{
			color: #fff;
			background-color: #6eb9f7;
			background-size: 100%;
			transition: background 0s;
		}
	}
}

.swipe-control-vertical{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	text-align: center;
	font-family: $heebo-med;
	font-size: 14px;
	color: $color-swipe;
	cursor: pointer;
	padding: 10px 0px;

	&:active{
		color: #717171;
	}

	i{
		width: 16px !important;
		height: 16px !important;
		margin-left: 4px;
	}
}

.ads-artikel{
	width: 100%;
	height: 100%;
	background-color: #000000;
	padding-top: 56px;
	position: relative;
}

.img-ads{
	display: flex;
	height: 100%;
	width: 100%;

	img{
		margin: auto;
	}
}

.icon-artikel{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	img{
		width: 80px;
		height: 80px;
		margin: auto;
		display: block;
	}
}

.icon-artikel-video{
	cursor: pointer;
}

.warp-end-slide{
	padding: 0px 15px;
	padding-top: 55px;
	width: 100%;
	height: 100%;
	display: flex;
}

.mid-end-slide{
	width: 100%;
	margin: auto;
}

.img-end{
	margin-top: 16px;

	img{
		width: 50px;
		height: auto;
		margin: auto;
		display: block;
	}
}

.text-end{
	font-family: $heebo-bold;
	font-size: 18px;
	color: $color-primary;
	margin-top: 16px;
	text-align: center;
}

/* Juga Suka */

.section-artkel-suka{
	width: 732px;
	margin: auto;
	margin-top: 16px;
}

.title-section-suka{
	font-family: $heebo-bold;
	font-size: 16px;
	color: $color-caption;
}

.warp-list-artikel-suka{
	display: flex;
	flex-wrap: wrap;
	margin: auto -12px;
}

.list-artikel-suka{
	width: 228px;
	margin: 0px 12px;
	margin-top: 10px;

	&:hover img{
		transform: scale(1.2);
	}

	&:hover .title-artikel-suka{
		color: $color-primary;
	}
}

.img-artikel-suka{
	width: 228px;
	height: 15vh;
	border-radius: 8px;
	overflow: hidden;

	img{
		width: 228px;
		height: 15vh;
		border-radius: 8px;
		object-fit: cover;
		transition: transform .3s;
	}
}

.title-artikel-suka{
	font-family: $heebo-bold;
	font-size: 16px;
	color: $color-caption;
	margin-top: 12px;
}

.btn-sebelumnya{
	margin: 35px 0px 20px;
	text-align: center;

	a{
		font-family: $heebo-bold;
		font-size: 12px;
		color: $color-primary;
		background-color: #fff;
		border: 2px solid $color-primary;
		padding: 7px 20px;
		border-radius: 10px;
		transition: background 0.8s;

		&:hover{
			color: #fff;
			background-color: $color-primary;
		}
	}
}

/* Detail */
.left-section{
	width: 732px;
}

.right-section{
	width: 300px;
	margin-left: 24px;
	position: relative;
}

.right-bottom{
	position: absolute;
	bottom: 0;
	left: 0;
}

.floatSecRight{
	position: sticky;
	top: 60px;
	left: 0px;
}

.floatSecRight-End{
	position: absolute;
	bottom: 2290px;
	left: 0;
}

.breadcrumb{
	margin-top: 32px;

	ul{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

	li{
		display: inline-block;
		font-family: $roboto-regular;
		font-size: 12px;
		color: $color-caption;

		&:after{
			content: "/";
		}

		&:last-child:after{
			content:" ";
		}
	}

	.active{
		color: #a5cad6;
	}

	a{
		color: $color-caption;
		transition: $trans-hover;
	}
}

.detail-title{
	h1{
		font-family: $roboto-bold;
		font-size: 32px;
		color: $color-caption;
		margin-top: 12px;
	}
}

.warp-nama-redaksi{
	display: flex;
	flex-wrap: wrap;
	margin-top: 12px;
}

.detail-avatar{
	margin-right: 12px;

	img{
		width: 37px;
		height: 37px;
		border-radius: 50px;
		object-fit: cover;
		object-position: top;
	}
}

.detail-nama-redaksi{
	padding: 7px 0px;
	font-family: $roboto-bold;
	font-size: 16px;
	color: #004b8f;
	margin-right: 20px;
}

.detail-date-artikel{
	padding: 7px 0px;
	font-family: $roboto-regular;
	font-size: 15px;
	color: #989898;

	&:before{
		content: "\2022";
		color: #989898;
		margin-right: 12px;
	}
}

.detail-img{
	margin-top: 20px;

	img{
		width: 732px;
		height: auto;
		border-radius: 10px;
		object-fit: cover;
		object-position: top;
	}
}

.detail-caption-img{
	padding: 12px 0px;
	font-family: $roboto-regular;
	font-size: 12px;
	color: #717171;
	border-bottom: 1px solid #eeeeee;
}

.warp-zoom-text{
	margin-top: 12px;
	text-align: right;

	.zoom-text{
		font-family: $roboto-bold;
		color: #989898;
		padding: 0px 0px 4px;
		margin-left: 20px;
		cursor: pointer;

		&:hover{
			color: rgba(40, 40, 40, 0.9);
			border-bottom: 2px solid rgba(40, 40, 40, 0.9);
		}
	}

	.t-bg{
		font-size: 24px;
	}

	.t-md{
		font-size: 18px;
	}

	.t-sm{
		font-size: 14px;
	}

	.active{
		color: rgba(40, 40, 40, 0.9);
		border-bottom: 2px solid rgba(40, 40, 40, 0.9);
	}
}

.detail-desc{
	font-family: $roboto-regular;
	font-size: 16px;
	color: #282828;
	margin-top: 12px;

	img{
		width: 100%;
		border-radius: 8px;
	}

	a{
		color: $color-primary;
		transition: $trans-hover;

		&:hover{
			color: #085398;
		}
	}

	blockquote{
		font-family: $roboto-med;
		font-style: italic;
		font-size: 18px;
		color: #282828;
		text-align: center;

		.name-quotes{
			margin-top: 16px;
			font-family: $roboto-light;
			font-size: 14px;
			color: #282828;
		}

		img{
			width: 52px;
			height: 52px;
			margin: auto;
			display: block;
			margin-bottom: 16px;
		}
	}
}

.topik{
	margin-top: 32px;

	ul{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

	li{
		display: inline-block;
		margin: 0px 8px 15px 0px;

		&:last-child{
			margin: 0px;
		}
	}

	a{
		padding: 4px 8px;
		border: 1px solid #686a70;
		background-color: #fff;
		border-radius: 8px;
		font-family: $roboto-bold;
		font-size: 14px;
		color: #686a70;
		transition: $trans-hover;

		&:hover{
			color: #fff;
			background-color: $color-primary;
		}
	}
}

/* Berita Terkait */
.warp-list-berita-terkait{
	display: flex;
	flex-wrap: wrap;
	margin: 0px -10px;
}

.list-berita-terkait{
	width: 230px;
	margin: 0px 10px 20px;

	&:hover img{
		transform: scale(1.2);
	}

	&:hover a{
		color: $color-primary;
	}
}

.img-berita-terkait{
	width: 230px;
	height: 130px;
	overflow: hidden;
	border-radius: 4px;

	img{
		width: 230px;
		height: 130px;
		object-fit: cover;
		object-position: top;
		border-radius: 4px;
		transition: transform .3s;
	}
}

.title-berita-terkait{
	margin-top: 8px;

	a{
		font-family: $roboto-bold;
		font-size: 14px;
		color: #515150;
	}
}

/* Artikel Komersil */

.warp-list-detail-artikel-komersial{
	display: flex;
	flex-wrap: wrap;
	margin: 0px -10px;
}

.list-detail-artikel-komersial{
	width: 230px;
	margin: 0px 10px 20px;

	&:hover img{
		transform: scale(1.2);
	}

	&:hover a{
		color: $color-primary;
	}
}

.img-detail-artikel-komersial{
	width: 230px;
	height: 130px;
	overflow: hidden;
	border-radius: 4px;

	img{
		width: 230px;
		height: 130px;
		object-fit: cover;
		object-position: top;
		border-radius: 4px;
		transition: transform .3s;
	}
}

.title-detail-artikel-komersial{
	margin-top: 8px;

	a{
		font-family: $roboto-bold;
		font-size: 14px;
		color: #515150;
	}
}

/* Berita Lainnya */
.warp-list-detail-berita-lain{
	display: flex;
	flex-wrap: wrap;
	margin: 0px -10px;
}

.list-detail-berita-lain{
	width: 230px;
	margin: 0px 10px 20px;

	&:hover img{
		transform: scale(1.2);
	}

	&:hover a{
		color: $color-primary;
	}
}

.img-detail-berita-lain{
	width: 230px;
	height: 130px;
	overflow: hidden;
	border-radius: 4px;

	img{
		width: 230px;
		height: 130px;
		object-fit: cover;
		object-position: top;
		border-radius: 4px;
		transition: transform .3s;
	}
}

.title-detail-berita-lain{
	margin-top: 8px;

	a{
		font-family: $roboto-bold;
		font-size: 14px;
		color: #515150;
	}
}

.dilihat{
	margin-top: 12px;
	font-family: $roboto-regular;
	font-size: 12px;
	color: #989898;
}

/* Komentar */
.komentar{
	width: 100%;
}

/* News MPI */
.warp-list-news-mpi{
	display: flex;
	flex-wrap: wrap;
	position: relative;

	.swiper-slide{
		width: 200px !important;
	}

	.swiper-button-next, .swiper-button-prev{
		visibility: hidden;
		opacity: 0;
		transition: $trans-hover;
		outline: none;
		z-index: 50 !important;
	}

	&:hover .swiper-button-next{
		visibility: visible;
		opacity: 1;
		transition: $trans-hover;
	}

	&:hover .swiper-button-prev{
		visibility: visible;
		opacity: 1;
		transition: $trans-hover;
	}

	.swiper-button-next::after, .swiper-button-prev::after{
		font-size: 13px;
		background-color: #fff;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
		padding: 9px 12px;
		border-radius: 100px;
		font-weight: bold;
		color: #000;
	}

	.swiper-button-next, .swiper-rtl .swiper-button-prev{
		right: -10px;
		left: auto;
	}

	.swiper-button-prev, .swiper-rtl .swiper-button-next{
		left: -10px;
		right: auto;
	}
}

.list-news-mpi{
	width: 200px;

	&:hover .img-news-mpi img{
		transform: scale(1.2);
	}

	&:hover a{
		color: $color-primary;
	}
}

.img-news-mpi{
	width: 200px;
	height: 130px;
	overflow: hidden;
	border-radius: 4px;

	img{
		width: 200px;
		height: 130px;
		object-fit: cover;
		object-position: top;
		border-radius: 4px;
		transition: transform .3s;
	}
}

.logo-news-mpi{
	margin-bottom: 8px;

	img{
		width: auto;
		height: 31px;
		margin: auto;
		display: block;
	}
}

.logo-news-mpi-sports{
	img{
		height: 23px !important;
		margin: 6px auto 10px;
	}
}

.title-news-mpi{
	margin-top: 8px;

	a{
		font-family: $roboto-bold;
		font-size: 14px;
		color: #515150;
	}
}

/* Infografis */
.detail-infografis{
	a:hover .title-detail-infografis{
		background-color: $color-primary;
	}
}

.img-detail-infografis{
	display: block;
	width: 100%;
	height: auto;
	border-radius: 8px 8px 0px 0px;

}

.title-detail-infografis{
	padding: 12px 16px;
	background-color: #282828;
	border-radius: 0px 0px 8px 8px;
	font-family: $roboto-bold;
	font-size: 16px;
	color: #fff;
	margin-bottom: 26px;
	transition: $trans-hover;
}

/* Terpopuler */
.terpopuler{
	width: 100%;
}

.warp-list-terpopuler{
	position: relative;
	border-bottom: 2px dotted #d8d8d8;

	&:last-child{
		border-bottom: 0px;
	}

	&:hover .title-terpopuler{
		color: $color-primary;
	}

	&:hover .no-terpopuler{
		-webkit-text-stroke: 1px $color-primary;
    	-webkit-text-fill-color: $color-primary;
	}
}

.no-terpopuler{
	font-family: $roboto-bold;
	font-size: 80px;
	-webkit-text-stroke: 1px #686a70;
    -webkit-text-fill-color: white;
	width: 37px;
	overflow: hidden;
	line-height: 73px;
	padding: 4px 10px;
	transition: $trans-hover;
}

.title-terpopuler{
	width: calc(100% - 37px);
	background-color: #fff;
	padding: 8px 10px;
	font-family: $roboto-bold;
	font-size: 14px;
	color: #686a70;
	transition: $trans-hover;
}

/* Sticky Share */
.nav-floating-share-love-comment{
	position: fixed;
	width: 1099px;
	bottom: 20px;
	left: 0px;
	right: 0;
	margin: auto;
	border-radius: 10px;
	z-index: 97;
	box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	padding-left: 20px;
	transition: all .7s ease-in-out;
}

.btn-love, .btn-comment{
	width: 10%;
	text-align: center;
	padding: 12px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	img{
		width: 32px;
		height: 32px;
		cursor: pointer;
	}

	.count{
		font-family: $roboto-med;
		font-size: 14px;
		color: #686a70;
		margin-left: 5px;
	}
}

.none-love{
	width: 60% !important;
}

.btn-share{
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	padding: 2px 0px;
	align-items: center;

	.st-custom-button{
		display: inline-block;
		margin-right: 16px;
		cursor: pointer;
		padding-top: 5px;
		transition: ease all 0.2s;

		&:last-child{
			margin-right: 0px;
		}

		&:hover{
			padding-top: 1px;
		}
	}

	img{
		width: 32px;
		height: 32px;
	}

	.total-share{
		text-align: center;
		color: $color-caption;
		display: block;
		margin: 0px 16px;

		.st-total{
			font-family: $heebo-med;
			font-size: 23px !important;
			line-height: 23px;
		}

		.st-label{
			font-family: $heebo-regular;
			font-size: 10px;
			color: $color-caption;
		}
	}
}

.share-logo-hi-lite{
	width: 30%;
	padding: 12px 14px 12px 40px;
	background-color: #093a67;
	border-radius: 0px 10px 10px 0px;
	clip-path: polygon(40px 0, 100% 0, 100% 100%, 0% 100%);

	a{
		color: #fff;

		&:hover{
			color: #38e8be;
		}

		&:hover i{
			color: #38e8be;
			border: 2.5px solid #38e8be;
		}
	}

	img{
		width: 88px;
		height: 32px;
	}
}

.warp-logo-hilite{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-family: $roboto-regular;
	font-size: 16px;

	i{
		font-size: 10px;
		border-radius: 100px;
		border: 2.5px solid #fff;
		padding: 5px 0px;
		margin-bottom: 5px;
		width: 25px;
		height: 25px;
		margin: 0px 8px 0px 20px;
	}
}