@import 'global';

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px){
	.container {
	    width: 100% !important;
	    max-width: 100% !important;
	    padding: 0px !important;
	    margin: auto;
	}

	.widget-hi-lite{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.widget-hi-lite::-webkit-scrollbar {
	    display: none;
	}

	.widget-hi-lite {
	  -ms-overflow-style: none;
	  scrollbar-width: none;
	}

	.warp-widget-hi-lite-no-scroll{
		background: url('../images/bg-hilite.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
		width: 154px;
		height: 196px;
		border-radius: 0px 8px 8px 0px;
		padding: 8px;
		color: #fff;
	}

	.logo-hi-lite-explore{
		margin-top: 32px;

		img{
			width: 76px;
			height: auto;
			display: block;
			margin: auto;
		}
	}

	.btn-more-explore{
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 30px 30px;
		font-family: $roboto-regular;
		font-size: 10px;

		a{
			color: #fff;
		}

		span{
			visibility: visible;
			opacity: 1;
			transition: $trans-hover;
		}

		i{
			font-size: 13px;
			border-radius: 100px;
			border: 2.5px solid #fff;
			padding: 3.5px 0px;
			margin-bottom: 5px;
			width: 25px;
			height: 25px;
		}
	}

	.warp-artikel-hilite-no-scroll{
		width: calc(100% - 154px);
		padding-left: 5px;
		overflow: auto;
		white-space: nowrap;
		border-radius: 6px;
		display: unset;
	}

	.list-artikel-hilite-no-scroll{
		display: inline-block;
		width: 155px;
		padding: 0px 2px;

		img{
			width: 100%;
			height: 100px;
			object-fit: cover;
			object-position: top;
			border-radius: 6px;
		}
	}

	.title-artikel-hilite{
		font-family: $roboto-med;
		font-size: 14px;
		color: #232323;
		height: 65px;
		display: -webkit-box;
		overflow: hidden;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		white-space: normal;
	}

	/* List Artikel */
	.list-artikel{
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		padding-top: 56px;
	}

	.img-artikel{
		position: relative;
		width: 100%;
		height: 40%;
		display: flex;

		img{
			width: auto;
			height: 100%;
			margin: auto;
			object-fit: cover;
			object-position: top;
		}
	}

	.box-video{
		position: relative;
		width: 100%;
		height: auto;
		background-color:#000;
	}

	.img-video{
		height: auto !important;
		width: 70%;
		margin: auto;
		position: relative;
	    top: 50%;
	    transform: translateY(-50%);
	}

	.warp-video{
		position: relative;
	  	padding-bottom: 56.25%; /* 16:9 */
	  	height: 0;

	  	iframe{
	  		position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
	  	}
	}

	.img-infografis{
		width: 100%;
		height: 40%;
		display: flex;

		img{
			width: auto;
			height: 100%;
			margin: auto;
			display: block;
		}
	}

	.img-foto{
		position: relative;
		width: 100%;
		height: 100%;
	}

	.slide-foto{
		width: auto;
		height: 100%;
		background-color: #000;

		img{
			width: 100%;
			height: 100% !important;
			margin: auto;
			display: block;
			object-fit: contain;
		}
	}

	.warp-desc-artikel{
		position: relative;
		width: 100%;
		height: 60%;
		background-color: #fff;
		padding: 30px;
		display: flex;
	}

	.box-desc-artikel{
		width: 100%;
		height: auto;
		margin: unset;
	}

	/* Juga Suka */

	.section-artkel-suka{
		width: 100%;
	}

	.img-end{
		margin-top: 16px;

		img{
			width: 80px;
			height: auto;
			margin: auto;
			display: block;
		}
	}

	.list-artikel-suka{
		width: 33.33%;
		margin: 20px 0px 20px;
		padding: 0px 10px;
	}

	.img-artikel-suka{
		width: 100%;
		height: 150px;

		img{
			width: 100%;
			height: 150px;
		}
	}

	.warp-social-share{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 100px;
	}

	.selengkapnya{
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		bottom: 50px;
		width: calc(100% - 50px);
	}

	/* Detail */

	.btn-2top {
		bottom: 85px;
	}

	.hr-section{
		margin: 20px 0px;
	}

	/* Nav Primary */
	.side-nav{
		top: 140px;
	}

	/* Navigasi */
	.header{
		padding: 15px 0px 15px;
	}

	.logo{
		width: 100%;
		display: block;
		float: unset;

		img{
			width: 324px;
			height: auto;
			margin: auto;
			display: block;
		}
	}

	.search{
		width: 35%;
		margin-left: 0px;
		padding: 14px 0px 14px 15px;
	}

	.warp-search-text{
		width: 100%;
	}

	.warp-login{
		width: 45%;
		margin-left: 0px;
		padding-left: 70px;
	}

	.menu{
		width: 20%;
		padding-right: 15px;
	}

	nav{
		padding: 15px 15px 0px;
	}

	.left-section{
		width:100%;
		padding: 0px 15px;
	}

	.right-section{
		width: 100%;
		padding: 0px 15px;
		margin: auto;
		position: relative;
	}

	.detail-img{
		margin-top: 20px;

		img{
			width: 100%;
		}
	}

	.floatSecRight{
		position: relative;
		top: 10px;
		left: 0px;
	}

	.right-bottom{
		position: relative;
		bottom: 0;
		left: 0;
	}

	.sticky-header{
		padding: 0px 15px;

		.nav-kanal{
			width: calc(100% - 40px - 130px - 80px);
		}

		.left-sticky-header{
			width: 130px;

			.search{
				width: 40px;
			}

			.menu{
				width: calc(100% - 40px);
			}
		}
	}

	/* Berita Terkait */

	.list-berita-terkait{
		width: 33.33%;
		margin: 0px 0px 20px;
		padding: 0px 10px;

		&:hover img{
			transform: unset;
		}

		&:hover a{
			color: $color-primary;
		}
	}

	.img-berita-terkait{
		width: 100%;
		height: 112px;
		overflow: unset;

		img{
			width: 100%;
			height: 112px;
		}
	}

	/* Artikel Komersil */

	.list-detail-artikel-komersial{
		width: 33.33%;
		margin: 0px 0px 20px;
		padding: 0px 10px;

		&:hover img{
			transform: unset;
		}

		&:hover a{
			color: $color-primary;
		}
	}

	.img-detail-artikel-komersial{
		width: 100%;
		height: 112px;
		overflow: unset;

		img{
			width: 100%;
			height: 112px;
		}
	}

	/* Berita Lainnya */

	.list-detail-berita-lain{
		width: 33.33%;
		margin: 0px 0px 20px;
		padding: 0px 10px;

		&:hover img{
			transform: unset;
		}

		&:hover a{
			color: $color-primary;
		}
	}

	.img-detail-berita-lain{
		width: 100%;
		height: 112px;
		overflow: unset;

		img{
			width: 100%;
			height: 112px;
		}
	}

	/* Infografis */
	.detail-infografis{
		margin-top: 30px;
	}

	/* Sticky Share */
	.nav-floating-share-love-comment{
		position: fixed;
		width: 100%;
		bottom: 20px;
		left: 0px;
		right: 0;
		margin: auto;
		border-radius: 0px;
		z-index: 97;
		box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
		background-color: #fff;
		display: flex;
		flex-wrap: wrap;
		padding-left: 20px;
		transition: all .7s ease-in-out;
	}

	.share-logo-hi-lite{
		width: 22%;
		padding: 14px 14px 14px 45px;
		background-color: #093a67;
		border-radius: 0px 0px 0px 0px;
		clip-path: polygon(40px 0, 100% 0, 100% 100%, 0% 100%);

		a{
			color: #fff;

			&:hover{
				color: #38e8be;
			}

			&:hover i{
				color: #38e8be;
				border: 2.5px solid #38e8be;
			}
		}

		img{
			width: 60px;
			height: auto;
		}
	}

	.warp-logo-hilite{
		font-size: 0px;

		i{
			display: none;
		}
	}

	.btn-love, .btn-comment{
		width: 12%;
		text-align: center;
		padding: 14px 0px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		img{
			width: 28px;
			height: 28px;
			cursor: pointer;
		}

		.count{
			font-family: $roboto-med;
			font-size: 12px;
			color: #686a70;
			margin-left: 5px;
		}
	}

	.none-love{
		width: 66% !important;
	}

	.btn-share{
		width: 54%;
		display: flex;
		flex-wrap: wrap;
		padding: 5px 0px;
		align-items: center;

		.st-custom-button{
			margin-right: 10px;
		}

		img{
			width: 28px;
			height: 28px;
		}

		.total-share{
			margin: 0px 10px 0px 15px;

			.st-total{
				font-size: 20px !important;
			}

			.st-label{
				font-size: 8px;
			}
		}
	}

	/*Footer*/

	footer{
		padding: 30px 25px 0px;
	}

	.warp-logo{
		width: 100%;
		padding-right: 0px;
	}

	.logo-sindonews-footer{
		margin-bottom: 20px;

		img{
			width: 300px;
		}
	}

	.download-apps{
		margin-bottom: 20px;

		img{
			height: 35px;
		}
	}

	.social-footer{
		margin-bottom: 20px;

		img{
			height: 35px;
		}
	}

	.warp-link-two-col{
		width: 50%;
	}

	.warp-link-one-col{
		width: 25%;
	}

	.img-mnp{
		margin: 50px 0px 50px;
	}
}

@media (max-width: 960.98px) and (max-height: 600.98px){
	.img-artikel{
		height: 25%;
	}

	.img-video{
		width: 25%;
	}

	.img-infografis{
		height: 25%;
	}

	.img-ads{

		img{
			width: 30vh !important;
		}
	}

	.warp-desc-artikel{
		height: 75%;
		padding: 20px;
	}

	.list-artikel{
		.swiper{
			height: 100% !important;
		}
	}

	.img-artikel-suka{
		height: 100px;

		img{
			height: 100px;
		}
	}

	.title-section-suka{
		padding: 0px 30px;
	}

	.warp-list-artikel-suka{
		padding: 0px 30px;
	}

	.list-artikel-suka{
		width: 33.33%;
	}
}