	@import 'global';

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399px) {
	/* Utility */
	/* To Top */
	.btn-2top {
		display: none;
		position: fixed;
		bottom: 30px;
		right: 15px;
		z-index: 88;
		border: none; 
		outline: none; 
		background-color: rgba(0, 0, 0, 0.5); 
		color: #fff;
		cursor: pointer;
		padding: 7px 12px 10px;
		border-radius: 100px;
		font-size: 20px;
		transition: ease all 0.7s;

		&:focus{
			outline: none; 
		}
	}

	/* Home */
	/* List Artikel */

	.kanal{
		font-size: 14px;
		padding-left: 10px;
	}

	.title{
		font-size: 20px;
		margin-top: 10px;
	}

	.desc{
		font-size: 14px;
		margin-top: 9px;
	}

	.warp-social-share{
		margin-top: 20px;

		img{
			width: 30px;
			height: 30px;
		}
	}

	.selengkapnya{
		margin-top: 18px;

		a{
			font-size: 12px;
			padding: 8px 0px;
		}
	}

	.text-end{
		font-size: 16px;
	}

	/* Juga Suka */

	.section-artkel-suka{
		width: 650px;
		margin: auto;
		margin-top: 16px;
	}

	.title-section-suka{
		font-family: $heebo-bold;
		font-size: 16px;
		color: $color-caption;
	}

	.warp-list-artikel-suka{
		display: flex;
		flex-wrap: wrap;
		margin: auto -12px;
	}

	.list-artikel-suka{
		width: 200px;
		margin: 0px 12px;
		margin-top: 10px;

		&:hover img{
			transform: scale(1.2);
		}

		&:hover .title-artikel-suka{
			color: $color-primary;
		}
	}

	.img-artikel-suka{
		width: 100%;
		height: 100px;
		border-radius: 8px;
		overflow: hidden;

		img{
			width: 100%;
			height: 100px;
			border-radius: 8px;
			object-fit: cover;
			object-position: top;
			transition: transform .3s;
		}
	}

	.title-artikel-suka{
		font-family: $heebo-bold;
		font-size: 14px;
		color: $color-caption;
		margin-top: 12px;
	}

	.btn-sebelumnya{
		margin-top: 15px;
		text-align: center;

		a{
			font-family: $heebo-bold;
			font-size: 10px;
			color: #fff;
			background-color: $color-primary;
			border: 2px solid $color-primary;
			padding: 7px 20px;
			border-radius: 10px;
			transition: background 0.8s;

			&:hover{
				color: $color-primary;
				background-color: #fff;
			}
		}
	}

	/* Detail */
	/* Sticky Share */
	.nav-floating-share-love-comment{
		position: fixed;
		width: 1099px;
		bottom: 20px;
		left: 0px;
		right: 0;
		margin: auto;
		border-radius: 10px;
		z-index: 97;
		box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
		background-color: #fff;
		display: flex;
		flex-wrap: wrap;
		padding-left: 20px;
		transition: all .7s ease-in-out;
	}

	/* Footer */
	.warp-logo{
		width: 45%;
		padding-right: 100px;
	}

	.logo-sindonews-footer{
		margin-bottom: 32px;

		img{
			width: 100%;
		}
	}

	.warp-link-two-col{
		width: 27%;

		.link-footer{
			width: 50%;

			a{
				font-size: 14px;
			}
		}
	}

	.warp-link-one-col{
		width: 14%;

		.link-footer{
			width: 100%;

			a{
				font-size: 14px;
			}
		}
	}


	.download-apps{

		img{
			height: 40px;
			margin: 0px 15px;
		}
	}

	.social-footer{
		img{
			width: 36px;
			height: 36px;
			margin: 0px 12px;
		}
	}

	.img-mnp{
		img{
			width: 191px;
		}
	}

	.copy{
		font-size: 14px;
	}
}