@import 'global';

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1400px) and (max-width: 1800px) {
	.container{
		padding: 0px 127px !important;
	}

	/* Widget Hilite */
	.widget-hi-lite{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		overflow: auto;
		white-space: nowrap;
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.widget-hi-lite::-webkit-scrollbar {
	    display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.widget-hi-lite {
	  -ms-overflow-style: none;  /* IE and Edge */
	  scrollbar-width: none;  /* Firefox */
	}

	.warp-widget-hi-lite{
		background: url('../images/bg-hilite.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
		width: 150px;
		height: 180px;
		border-radius: 0px 8px 8px 0px;
		padding: 8px;
		color: #fff;
	}

	.logo-hi-lite-explore{
		margin-top: 32px;

		img{
			width: 76px;
			height: auto;
			display: block;
			margin: auto;
		}
	}

	.btn-more-explore{
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 16px;
		font-family: $roboto-regular;
		font-size: 10px;

		a{
			color: #fff;
		}

		i{
			font-size: 13px;
			border-radius: 100px;
			border: 2.5px solid #fff;
			padding: 3.5px 0px;
			margin-bottom: 5px;
			width: 25px;
			height: 25px;
		}
	}

	.warp-artikel-hilite{
		width: calc( 100% - 150px);
		padding-left: 4px;
		display: flex;
		border-radius: 6px;
	}

	.list-artikel-hilite{
		width: 134px;
		padding: 0px 2px;

		.img-artikel-hilite{
			position: relative;

			img{
				width: 130px;
				height: 100px;
				object-fit: cover;
				border-radius: 6px;
			}
		}

		.icon-img{
			position: absolute;
			bottom: 5px;
			right: 5px;

			img{
				width: 20px;
				height: 20px;
			}
		}
	}

	.title-artikel-hilite{
		font-family: $roboto-med;
		font-size: 14px;
		color: #232323;
		height: 65px;
		display: -webkit-box;
		overflow: hidden;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		white-space: normal;
	}
	
	/* Utility */
	.title-section{
		position: relative;
		padding: 16px 0px;
		margin-bottom: 8px;
		
		span{
			position: relative;
			font-family: $roboto-med;
			font-size: 18px;
			color: #282828;
			z-index: 2;
		}
  		
  		&:before{
  			position: absolute;
  			left: 0px;
  			bottom: 0px;
  		}

  		a{
  			font-family: $roboto-med;
  			font-size: 16px;
  			padding: 4px 8px;
  			color: #084d8d;
  			border-radius: 10px;
  			border: 1.5px solid #084d8d;
  			float: right;
  		}
	}

	.title-section-daerah{
		&:before{
			content: url('../images/ornamen/title_section/daerah.png');
		}
	}
	.title-section-edukasi{
		&:before{
			content: url('../images/ornamen/title_section/edukasi.png');
		}
	}
	.title-section-ekonomi-bisnis{
		&:before{
			content: url('../images/ornamen/title_section/ekbis.png');
		}
	}
	.title-section-photo{
		&:before{
			content: url('../images/ornamen/title_section/foto.png');
		}
	}
	.title-section-gensindo{
		&:before{
			content: url('../images/ornamen/title_section/gensindo.png');
		}
	}
	.title-section-infografis{
		&:before{
			content: url('../images/ornamen/title_section/infografis.png');
		}
	}
	.title-section-international{
		&:before{
			content: url('../images/ornamen/title_section/internasional.png');
		}
	}
	.title-section-kalam{
		&:before{
			content: url('../images/ornamen/title_section/kalam.png');
		}
	}
	.title-section-lifestyle{
		&:before{
			content: url('../images/ornamen/title_section/lifestyle.png');
		}
	}
	.title-section-metro{
		&:before{
			content: url('../images/ornamen/title_section/metro.png');
		}
	}
	.title-section-nasional{
		&:before{
			content: url('../images/ornamen/title_section/nasional.png');
		}
	}
	.title-section-otomotif{
		&:before{
			content: url('../images/ornamen/title_section/otomotif.png');
		}
	}
	.title-section-sains{
		&:before{
			content: url('../images/ornamen/title_section/sains.png');
		}
	}
	.title-section-sports{
		&:before{
			content: url('../images/ornamen/title_section/sports.png');
		}
	}
	.title-section-tekno{
		&:before{
			content: url('../images/ornamen/title_section/tekno.png');
		}
	}
	.title-section-autotekno{
		&:before{
			content: url('../images/ornamen/title_section/tekno.png');
		}
	}
	.title-section-video{
		&:before{
			content: url('../images/ornamen/title_section/video.png');
		}
	}
	.title-section-worldwide{
		&:before{
			content: url('../images/ornamen/title_section/internasional.png');
		}
	}

	/* End Title Section */

	.hr-section{
		margin: 16px 0px;
		border-top: 1px dotted #282828;
	}

	.widget-mpi{
		margin-bottom: 24px;
	}

	/* To Top */
	.btn-2top {
		display: none;
		position: fixed;
		bottom: 85px;
		right: 15px;
		z-index: 88;
		border: none; 
		outline: none; 
		background-color: rgba(0, 0, 0, 0.5); 
		color: #fff;
		cursor: pointer;
		padding: 6px 10px;
		border-radius: 100px;
		font-size: 20px;
		transition: ease all 0.7s;

		&:focus{
			outline: none; 
		}
	}

	/* Hide Body */
	.hide-body{
		position: fixed;
		top: 0;
		height: 100%;
		z-index: 96;
		left: 0;
		background-color: rgba(0,0,0,0);
	}

	.block-body{
		width: 100%;
		background-color: rgba(0,0,0,0.8);
		animation: fadein 1s;
		-moz-animation: fadein 1s; /* Firefox */
		-webkit-animation: fadein 1s; /* Safari and Chrome */
		-o-animation: fadein 1s; /* Opera */
	}

	.hide-body-share{
		position: absolute;
		top: 0;
		height: 100%;
		z-index: 98;
		left: 0;
		background-color: rgba(0,0,0,0);
	}

	.block-body-share{
		width: 100%;
		background-color: rgba(0,0,0,0.6);
		animation: fadein 1s;
		-moz-animation: fadein 1s; /* Firefox */
		-webkit-animation: fadein 1s; /* Safari and Chrome */
		-o-animation: fadein 1s; /* Opera */
	}

	@keyframes fadein {
	    from {
	        opacity:0;
	    }
	    to {
	        opacity:1;
	    }
	}
	@-moz-keyframes fadein { /* Firefox */
	    from {
	        opacity:0;
	    }
	    to {
	        opacity:1;
	    }
	}
	@-webkit-keyframes fadein { /* Safari and Chrome */
	    from {
	        opacity:0;
	    }
	    to {
	        opacity:1;
	    }
	}
	@-o-keyframes fadein { /* Opera */
	    from {
	        opacity:0;
	    }
	    to {
	        opacity: 1;
	    }
	}

	/* Stop Scrolling If Nav Side Show */
	.stop-scrolling { 
	    height: 100%; 
	    overflow: hidden; 
	} 

	/* Embed */
	.foto-embed{
		margin: 15px 0px;

		.swiper-button-next::after, .swiper-button-prev::after{
			font-size: 16px;
			background-color: #fff;
			padding: 9px 12px;
			border-radius: 100px;
			font-weight: bold;
			color: #000;
		}

		.swiper{
			border-radius: 8px;
		}
	}

	.list-foto-embed{
		width: 100%;

		img{
			display: block;
			width: 100%;
			height: 300px;
			object-fit: cover;
			border-radius: 8px 8px 0px 0px !important;
		}

		.warp-title-foto-embed{
			display: flex;
			flex-wrap: wrap;
			background-color: #282828;
			border-radius: 0px 0px 8px 8px;
			padding: 8px;
		}

		.count-foto{
			width: 10%;
			font-family: $roboto-regular;
			font-size: 10px;
			color: #dadada;
		}

		.title-foto{
			width: 65%;
			font-family: $roboto-regular;
			font-size: 10px;
			color: #dadada;
		}

		.more-foto{
			width: 25%;
			text-align: right;

			a{
				font-family: $roboto-med;
				font-size: 10px;
				color: #fff;
			}

			i{
				color: #fff;
				margin-right: 5px;
				border: 2px solid #fff;
				border-radius: 50px;
				font-size: 10px;
				height: 21px;
				width: 21px;
				padding: 4px 0px;
			}
		}
	}

	.video-embed{
		margin: 15px 0px;
	}

	.list-video-embed{
		width: 100%;

		img{
			display: block;
			width: 100%;
			height: 300px;
			object-fit: cover;
			border-radius: 8px 8px 0px 0px !important;
		}

		.warp-title-video-embed{
			display: flex;
			flex-wrap: wrap;
			background-color: #282828;
			border-radius: 0px 0px 8px 8px;
			padding: 8px;
		}

		.title-video{
			width: 75%;
			font-family: $roboto-regular;
			font-size: 10px;
			color: #dadada;
		}

		.more-video{
			width: 25%;
			text-align: right;

			a{
				font-family: $roboto-med;
				font-size: 10px;
				color: #fff;
			}

			i{
				color: #fff;
				margin-right: 5px;
				border: 2px solid #fff;
				border-radius: 50px;
				font-size: 10px;
				height: 21px;
				width: 21px;
				padding: 4px 0px;
			}
		}
	}

	/* Notifikasi */
	.notifikasi{
		position: absolute;
		top: -300px;
		left: 0px;
		right: 0px;
		margin: auto;
		z-index: 99;
		width: max-content;
		font-family: $heebo-med;
		font-size: 12px;
		color: #fff;
		background: rgb(22,87,148);
		background: linear-gradient(180deg, rgba(22,87,148,1) 0%, rgba(9,58,103,1) 100%);
		padding: 8px 20px;
		border-radius: 50px;
		cursor: pointer;
		-webkit-box-shadow: -4px 8px 14px -9px rgba(0,0,0,0.75);
		-moz-box-shadow: -4px 8px 14px -9px rgba(0,0,0,0.75);
		box-shadow: -4px 8px 14px -9px rgba(0,0,0,0.75);
		visibility: hidden;
		transition: $trans-hover;

		i{
			margin-right: 4px;
		}
	}

	/* Paging */
	.paging{
		background-color: #f9f9f9;
		padding: 10px 15px;
		margin: 15px -15px;
		display: flex;
		flex-wrap: wrap;

		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
			width: calc(100% - 100px);
		}

		li{
			display: inline-block;
			margin-right: 6px;

			&:last-child{
				margin-right: 0px;
			}
		}

		a{
			font-family: $roboto-med;
			font-size: 16px;
			color: #084d8d;
			padding: 1px 6px;
			border-radius: 50px;
			background-color: #fff;
			border: 1.5px solid #084d8d;

			&:focus{
				background-color: #084d8d;
				color: #fff;
			}
		}

		.active{
			font-family: $roboto-med;
			font-size: 16px;
			color: #fff;
			padding: 1px 6px;
			border-radius: 50px;
			background-color: #084d8d;
			border: 1.5px solid #084d8d;
		}

		.paging-all{
			width: 100px;
			text-align: right;

			a{
				font-family: $roboto-med;
				font-size: 16px;
				color: #084d8d;
				padding: 4px 8px;
				border-radius: 6px;

				&:focus{
					background-color: #084d8d;
					color: #fff;
				}
			}
		}

		.title-paging{
			width: 100%;
			margin-bottom: 6px;
			font-family: $roboto-regular;
			font-size: 16px;
			color: $color-caption;
		}
	}

	/* Navigasi */
	.nav-header{
		position: fixed;
		top: 0px;
		left: 0px;
		background-color: #fff;
		z-index: 97;
		display: flex;
		flex-wrap: wrap;
		padding: 8px 127px;
		height: 60px;
		width: 100%;
	}

	.logo{
		width: 75%;
		padding: 5px 0px 0px;

		img{
			width: 168px;
			height: auto;
			padding: 4px 0px;
		}
	}

	.search{
		width: 15%;
		padding: 3px 0px 0px;
		color: #084d8d;
		font-size: 25px;
		text-align: right;
	}

	.menu{
		width: 10%;
		padding: 7px 0px 0px;
		text-align: right;

		i.open-nav{
			color: #fff;
			font-size: 16px;
			background-color: #084d8d;
			border-radius: 50px;
			padding: 6px 7px;
			transition: ease all 0.2s;
		}

		i.close-nav{
			display: none;
			color: #9d9d9d !important;
			font-size: 20px;
			background-color: #fff !important;
			border-radius: 50px;
			padding: 4px 7px !important;
			-webkit-box-shadow: 0px 0px 9px -1px rgba(161,161,161,1);
			-moz-box-shadow: 0px 0px 9px -1px rgba(161,161,161,1);
			box-shadow: 0px 0px 9px -1px rgba(161,161,161,1);
			transition: ease all 0.2s;
		}
	}

	/* Nav Secondary */
	.nav-slide{
		position: fixed;
		width: 100%;
		margin-top: -60px;
		z-index: 95;
		background-color: #f9f9f9;
		padding: 0px 127px;
		transition: ease all 0.5s;

		a{
			font-family: $roboto-bold;
			font-size: 14px;
			color: #000;
			padding-bottom: 14px;
		}

		.swiper-slide{
			width: auto !important;
			margin-right: 20px;
			padding: 10px 0px 14px 0px;
		}
		
	}

	.nav-slide-scroll{
		-webkit-box-shadow: -1px 7px 7px -5px rgba(191,191,191,1);
		-moz-box-shadow: -1px 7px 7px -5px rgba(191,191,191,1);
		box-shadow: -1px 7px 7px -5px rgba(191,191,191,1);
	}

	/* Nav Primary */
	nav{
		position: fixed;
		top: 60px;
		right: -600px;
		visibility: hidden;
		z-index: 99;
		width: 325px;
		height: 100%;
		background-color: #fff;
		padding: 0px 20px 100px;
		overflow-x: scroll;
		transition: ease all 0.7s;
	}

	.nav-title{
		font-family: $roboto-bold;
		font-size: 20px;
		color: $color-caption;
		margin: 16px 0px 6px;
	}

	.nav-top{
		font-family: $roboto-bold;
		font-size: 18px;
		border-bottom: 1px solid #d9d9d9;
		padding: 15px 0px;
		text-align: center;
		display: flex;
		flex-wrap: wrap;

		.btn-masuk{
			width: 50%;
			border-right: 1px solid #d9d9d9;
			a{
				color: #000;
			}
		}

		.btn-daftar{
			width: 50%;
			a{
				color: #084d8d;
			}
		}
	}

	.nav-sec-kanal{
		margin-top: 20px;
	}

	.warp-nav-kanal{
		display: flex;
		flex-wrap: wrap;
	}

	.list-nav-kanal{
		width: 50%;
		padding: 10px 0px;

		img{
			width: 16px;
			height: 16px;
			margin-right: 8px;
			vertical-align: middle;
		}

		a{
			font-family: $roboto-regular;
			font-size: 14px;
			color: $color-caption;
		}
	}

	.warp-spesial-nav{
		position: relative;
		height: 50px;

		img{
			position: absolute;
			right: -20px;
		}

		&:hover span.hi-lite{
			color: #38e8be;
		}

		&:hover span.scope{
			color: #13cae6;
		}

		&:hover i.hi-lite{
			background-color: #38e8be;
			border: 3px solid #38e8be;
			color: #093a67;
		}

		&:hover i.scope{
			background-color: #13cae6;
			border: 3px solid #13cae6;
			color: #093a67;
		}
	}

	.nav-scope{
		margin-top: 16px;
		margin-bottom: 20px;
	}

	.nav-spesial{
		font-family: $roboto-bold;
		font-size: 20px;
		color: #fff;
		position: absolute;
		top: 9px;
		width: 100%;

		i{
			margin-right: 16px;
			border-radius: 50px;
			font-size: 14px;
			height: 25px;
			width: 25px;
			padding: 3px 0px;
			position: relative;
			top: -2px;
		}

		i.hi-lite{
			border: 2px solid #38e8be;
			color: #38e8be;
			transition: $trans-hover;
		}

		i.scope{
			border: 2px solid #13cae6;
			color: #13cae6;
			transition: $trans-hover;
		}

		span{
			float: right;
			font-family: $roboto-med;
			font-size: 12px;
			color: #fff;
			padding: 9px 10px;
			transition: $trans-hover;
			position: relative;
			top: -3px;
		}
	}

	.warp-nav-side{
		display: flex;
		flex-wrap: wrap;
	}

	.list-nav-side{
		width: 50%;
		padding: 10px 0px;

		img{
			width: 16px;
			height: 16px;
			margin-right: 8px;
		}

		a{
			font-family: $roboto-regular;
			font-size: 14px;
			color: $color-caption;
		}
	}

	
	/* Home */
	/* Navigasi */

	.nav-home{
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 99;
		height: 40px;
		background-color: $color-primary;
		padding: 8px 12px;
		width: 100%;
	} 

	.ic-back{
		position: absolute;
		left: 24px;
		top: 3px;
		a{	
			color: #fff;
			font-size: 25px;
		}
	}

	.logo-hilite{
		img{
			width: 64px;
			height: auto;
			display: block;
			margin: auto;
		}
	}

	/* List Artikel */

	.list-artikel{
		position: relative;
		height: 100%;
		margin-top: 40px;

		.swiper{
			height: 35% !important;
		}

		.SwiperFoto{
			position: relative;
		}

		.swiper-pagination-bullet{
			background: var(--swiper-pagination-bullet-inactive-color,#fff) !important;
		}

		.swiper-pagination-bullet-active{
			background: var(--swiper-pagination-bullet-inactive-color,$color-primary) !important;
		}
	}

	.img-artikel{
		height: 35%;
		position: relative;
		background-color: #000;

		img{
			width: auto;
			height: 100%;
			display: block;
			margin: auto;
		}
	}

	.box-video{
		position: relative;
		background-color:#000;
	}

	.img-video{
		height: auto !important;
		width: 30%;
		margin: auto;
	}

	.warp-video{
		position: relative;
	  	padding-bottom: 56.25%; /* 16:9 */
	  	height: 0;

	  	iframe{
	  		position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
	  	}
	}

	.img-artikel-foto{
		position: relative;
		width: 100%;
		height: 100%;
		background-color: #000;
		display: flex;

		img{
			max-width: 100%;
			height: 100% !important;
			margin: auto;
			display: block;
			top: 50%;
			transform: translateY(-50%);
			position: absolute;
			left: 0;
			right: 0;
		}
	}

	.list-artikel-infografis{
		position: relative;
		height: 100%;
		padding-top: 40px;

		.swiper{
			height: auto;
		}

		.SwiperInfografis{
			position: relative;

			.swiper-pagination-bullet{
				background: var(--swiper-pagination-bullet-inactive-color,#fff) !important;
			}

			.swiper-pagination-bullet-active{
				background: var(--swiper-pagination-bullet-inactive-color,$color-primary) !important;
			}
		}
	}

	.img-infografis{
		position: relative;
		width: 100%;
		height: 70%;
		background-color: #000;
		display: flex;

		img{
			max-width: 100%;
			max-height: 100% !important;
			margin: auto;
			display: block;
			top: 50%;
			transform: translateY(-50%);
			position: absolute;
			left: 0;
			right: 0;
		}
	}

	.img-ads{
		width: 100%;
		height: 100%;
		background-color: #000;

		img{
			width: 30vh !important;
			max-width: 300px;
			height: auto !important;
			margin: auto;
			display: block;
			transform: translateY(-50%);
			top: 50%;
			position: relative;
		}
	}

	.icon-artikel{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		img{
			width: 60px !important;
			height: 60px !important;
			margin: auto;
			display: block;
		}
	}

	.kanal{
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 40;
		font-family: $heebo-bold;
		font-size: 16px;
		color: #4d4d4d;
		background-color: #fff;
		padding: 1px 12px 1px 8px;
		border-radius: 0px 0px 10px 0px;
	}

	.title{
		font-family: $heebo-bold;
		font-size: 24px;
		color: $color-title;
		margin-top: 12px;
		padding: 0px 15px;
	}

	.desc{
		font-family: $heebo-regular;
		font-size: 16px;
		color: $color-caption;
		margin-top: 8px;
		padding: 0px 15px;
	}

	.foot-artikel{
		position: absolute;
		bottom: 120px;
		left: 0px;
		right: 0px;
		display: flex;
		flex-wrap: wrap;
		padding: 0px 15px;
	}

	.selengkapnya{
		width: 85%;
		text-align: center;
		padding-right: 12px;

		a{
			color: $color-primary;
			font-family: $heebo-med;
			font-size: 14px;
			padding: 8px 0px;
			display: block;
			border: 2px solid $color-primary;
			border-radius: 10px;
			background-position: center;
			transition: background 0.5s;

			&:focus{
				color: $color-primary;
			}

			&:hover{
				color: #fff;
				background: $color-primary radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
			}

			&:active{
				color: #fff;
				background-color: #6eb9f7;
				background-size: 100%;
				transition: background 0s;
			}
		}
	}

	.swiper-pagination-bullet-active{
		background: $color-primary !important;
	}

	.swipe-control-vertical{
		position: absolute;
		bottom: 50px;
		left: 0px;
		right: 0px;
		margin: 0px auto;
		text-align: center;
		font-family: $heebo-regular;
		font-size: 12px;
		color: $color-swipe;
		cursor: pointer;
		padding: 10px 0px;

		&:active{
			color: #717171;
		}

		i{
			width: 16px !important;
			height: 16px !important;
			margin-left: 4px;
		}
	}

	/* Share Button */

	.share-btn{
		width: 15%;
		padding: 5px 0px;
		display: block;
		background-color: $color-primary;
		color: #fff;
		font-size: 18px;
		text-align: center;
		border: 2px solid $color-primary;
		border-radius: 10px;
	}

	.warp-social-share{
		position: absolute;
		bottom: -320px;
		visibility: hidden;
		left: 0px;
		z-index: 98;
		background-color: #fefefe;
		width: 100%;
		border-radius: 20px 20px 0px 0px;
		padding: 30px 40px 70px;
		transition: all .3s ease-in-out;
		-webkit-box-shadow: 1px -17px 14px -11px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 1px -17px 14px -11px rgba(0, 0, 0, 0.2);
		box-shadow: 1px -17px 14px -11px rgba(0, 0, 0, 0.2);
	}

	.share-head{
		padding: 0px 0px 4px 0px;
		border-bottom: 1px solid #dadada;
		display: flex;
		flex-wrap: wrap;
	}

	.title-head{
		width: 50%;
		font-family: $heebo-bold;
		font-size: 20px;
		color: $color-caption;
	}

	.btn-close{
		width: 50%;
		text-align: right;
		font-size: 20px;
		color: #9d9d9d;

		i{
			padding: 7px 11px;
			transition: $trans-hover;
			cursor: pointer;
		}

		&:active i{
			background-color: #ededed;
			border-radius: 50px;
			padding: 7px 11px;
		}
	}

	.warp-social-share-list{
		display: flex;
		flex-wrap: wrap;
		margin: 0px -8%;

		.st-custom-button[data-network]{
			width: 25%;
			margin-top: 15px;
			text-align: center;
			padding: 5px;
			transition: $trans-hover;
			cursor: pointer;

			&:active{
				background-color: #ededed;
				border-radius: 5px;
				padding: 5px;
			}

			img{
				width: 40px;
				height: 40px;
			}
		}
	}

	.title-social{
		font-family: $heebo-regular;
		font-size: 10px;
		color: $color-caption;
		margin-top: 10px;
	}

	.total-share{
		text-align: center;
		color: $color-caption;
		display: block;
		margin: 0px 7px 0px 5px;

		.st-total{
			font-family: $heebo-med;
			font-size: 22px !important;
		}

		.st-label{
			font-family: $heebo-regular;
			font-size: 10px;
			color: $color-caption;
		}
	}

	.warp-end-slide{
		padding: 0px 15px;
		padding-top: 55px;

		hr{
		    border-top: 1px solid #adadad;
		    margin: 2vw 0px;
		}
	}

	.img-end{
		margin-top: 0px;

		img{
			width: 75px;
			height: auto;
			margin: auto;
			display: none;
		}
	}

	.text-end{
		font-family: $heebo-bold;
		font-size: 16px;
		color: $color-primary;
		margin-top: 15px;
		text-align: center;
	}

	/* Juga Suka */

	.title-section-suka{
		font-family: $heebo-bold;
		font-size: 16px;
		color: $color-caption;
		padding: 0px 200px;
	}

	.warp-list-artikel-suka{
		margin: 0px -8px;
		padding: 0px 200px;
		display: flex;
		flex-wrap: wrap;
	}

	.list-artikel-suka{
		width: 25%;
		padding: 0px 8px;
		margin-top: 30px;

		&:active img{
			transform: scale(1.2);
		}
	}

	.img-artikel-suka{
		width: 100%;
		height: 150px;
		border-radius: 8px;
		overflow: hidden;

		img{
			width: 100%;
			height: 150px;
			border-radius: 8px;
			object-fit: cover;
			transition: transform .3s;
		}
	}

	.title-artikel-suka{
		font-family: $heebo-bold;
		font-size: 16px;
		color: $color-caption;
		margin-top: 8px;
	}

	.btn-sebelumnya{
		margin-top: 32px;
		text-align: center;

		a{
			font-family: $heebo-bold;
			font-size: 16px;
			color: #fff;
			background-color: $color-primary;
			padding: 10px 20px;
			border-radius: 10px;
			transition: background 0.8s;

			&:hover{
				color: #fff;
				background: $color-primary radial-gradient(circle, transparent 1%, $color-primary 1%) center/15000%;
			}

			&:active{
				color: #fff;
				background-color: #6eb9f7;
				background-size: 100%;
				transition: background 0s;
			}
		}
	}

	/* Detail */
	.breadcrumb{
		margin-top: 120px;

		ul{
			list-style-type: none;
			margin: 0px;
			padding: 0px;
		}

		li{
			display: inline-block;
			font-family: $roboto-med;
			font-size: 12px;
			color: #858585;

			&:after{
				content: "/";
			}

			&:last-child:after{
				content:" ";
			}
		}

		.active{
			color: #084d8d;
		}

		a{
			color: #858585;
		}
	}

	.detail-title{
		h1{
			font-family: $roboto-bold;
			font-size: 24px;
			color: $color-caption;
			margin-top: 20px;
		}
	}

	.warp-nama-redaksi{
		display: flex;
		flex-wrap: wrap;
		margin-top: 8px;
	}

	.detail-avatar{
		margin-right: 8px;

		img{
			width: 30px;
			height: 30px;
			border-radius: 50px;
			object-fit: cover;
		}
	}

	.detail-nama-redaksi{
		padding: 7px 0px;
		font-family: $roboto-med;
		font-size: 14px;
		color: #084d8d;
	}

	.detail-date-artikel{
		font-family: $roboto-light;
		font-size: 12px;
		color: #8a8a8f;
	}

	.detail-img{
		margin-top: 12px;

		img{
			width: 100%;
			height: auto;
			border-radius: 4px;
			object-fit: cover;
		}
	}

	.detail-caption-img{
		padding: 8px 0px;
		font-family: $roboto-regular;
		font-size: 13px;
		color: #717171;
		border-bottom: 1px solid #eeeeee;
	}

	.warp-zoom-text{
		margin-top: 8px;
		text-align: right;

		.zoom-text{
			font-family: $roboto-bold;
			color: #989898;
			padding: 0px 0px 4px;
			margin-left: 20px;
		}

		.t-bg{
			font-size: 24px;
		}

		.t-md{
			font-size: 18px;
		}

		.t-sm{
			font-size: 14px;
		}

		.active{
			color: rgba(40, 40, 40, 0.9);
			border-bottom: 2px solid rgba(40, 40, 40, 0.9);
		}
	}

	.detail-desc{
		font-family: $roboto-regular;
		font-size: 16px;
		color: #282828;
		margin-top: 12px;

		img{
			width: 100%;
			border-radius: 8px;
		}

		a{
			color: $color-primary;
		}

		blockquote{
			font-family: $roboto-med;
			font-style: italic;
			font-size: 18px;
			color: #282828;
			text-align: center;

			.name-quotes{
				margin-top: 12px;
				font-family: $roboto-light;
				font-size: 14px;
				color: #282828;
			}

			img{
				width: 36px;
				height: 36px;
				margin: auto;
				display: block;
				margin-bottom: 12px;
			}
		}
	}

	.social-detail-share{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.st-custom-button[data-network]{
			margin: 8px 3px;

			img{
				width: 35px;
				height: 35px;
			}
		}
	}

	.topik{
		margin-top: 24px;

		ul{
			list-style-type: none;
			margin: 0px;
			padding: 0px;
		}

		li{
			display: inline-block;
			margin: 0px 8px 15px 0px;

			&:last-child{
				margin: 0px;
			}
		}

		a{
			padding: 4px 8px;
			border: 1px solid #686a70;
			background-color: #fff;
			border-radius: 8px;
			font-family: $roboto-bold;
			font-size: 14px;
			color: #686a70;
		}
	}

	/* Berita Terkait */

	.list-berita-terkait{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 16px;

		&:active img{
			transform: scale(1.2);
		}
	}

	.img-berita-terkait{
		width: 100px;
		height: 100px;
		overflow: hidden;
		border-radius: 8px;

		img{
			width: 100px;
			height: 100px;
			object-fit: cover;
			border-radius: 8px;
			transition: transform .3s;
		}
	}

	.title-berita-terkait{
		width: calc(100% - 100px);
		padding: 0px 12px;

		a{
			font-family: $roboto-bold;
			font-size: 16px;
			color: #515150;
		}
	}

	/* Infografis */
	.img-detail-infografis{
		display: block;
		width: 100%;
		height: auto;
		border-radius: 8px 8px 0px 0px;
	}

	.title-detail-infografis{
		padding: 16px;
		background-color: #282828;
		border-radius: 0px 0px 8px 8px;
		font-family: $roboto-bold;
		font-size: 18px;
		color: #fff;
	}

	/* Artikel Komersil */
	.detail-artikel-komersial{
		width: 100%;
		margin-left: -0.5px;
		margin-right: -0.5px;
	}

	.warp-list-detail-artikel-komersial{
		display: flex;
		flex-wrap: wrap;
		margin: 0px -7.5px 0px;
	}

	.list-detail-artikel-komersial{
		width: 50%;
		margin-bottom: 16px;
		padding: 0px 7.5px;


		&:active img{
			transform: scale(1.2);
		}
	}

	.img-detail-artikel-komersial{
		width: 100%;
		height: 200px;
		overflow: hidden;
		border-radius: 8px;

		img{
			width: 100%;
			height: 200px;
			object-fit: cover;
			border-radius: 8px;
			transition: transform .3s;
		}
	}

	.title-detail-artikel-komersial{
		margin-top: 8px;

		a{
			font-family: $roboto-bold;
			font-size: 14px;
			color: #515150;
		}
	}

	/* Terpopuler */
	.terpopuler{
		width: 100%;
	}

	.warp-list-terpopuler{
		display: flex;
		flex-wrap: wrap;
		position: relative;
		padding: 16px 0px;
		border-bottom: 2px dotted #d8d8d8;

		&:last-child{
			border-bottom: 0px;
		}
	}

	.no-terpopuler{
		font-family: $roboto-bold;
		font-size: 80px;
		color: #084d8d;
		width: 28px;
		overflow: hidden;
		line-height: 73px;
	}

	.title-terpopuler{
		width: calc(100% - 28px);;
		padding: 0px 18px;
		background-color: #fff;

		a{
			font-family: $roboto-bold;
			font-size: 14px;
			color: #2b2b2b;
		}
	}

	/* Berita Lainnya */
	.detail-berita-lain{
		width: 100%;
		margin-left: -0.5px;
		margin-right: -0.5px;
	}

	.warp-list-detail-berita-lain{
		display: flex;
		flex-wrap: wrap;
		margin: 0px -7.5px 0px;
	}

	.list-detail-berita-lain{
		width: 50%;
		margin-bottom: 16px;
		padding: 0px 7.5px;


		&:active img{
			transform: scale(1.2);
		}
	}

	.img-detail-berita-lain{
		width: 100%;
		height: 200px;
		overflow: hidden;
		border-radius: 8px;

		img{
			width: 100%;
			height: 200px;
			object-fit: cover;
			border-radius: 8px;
			transition: transform .3s;
		}
	}

	.title-detail-berita-lain{
		margin-top: 8px;

		a{
			font-family: $roboto-bold;
			font-size: 14px;
			color: #515150;
		}
	}

	.dilihat{
		margin-top: 4px;
		font-family: $roboto-regular;
		font-size: 12px;
		color: #989898;
	}

	/* Komentar */
	.komentar{
		width: 100%;
	}

	/* News MPI */
	.mpi{
		width: 100%;
	}

	.list-news-mpi{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 22px;

		&:last-child{
			margin-bottom: 0px;
		}
	}

	.img-news-mpi{
		width: 84px;
		height: 84px;

		img{
			width: 84px;
			height: 84px;
			border-radius: 8px;
			object-fit: cover
		}
	}

	.warp-title-news-mpi{
		width: calc(100% - 84px);
		padding-left: 12px;
	}

	.logo-news-mpi{
		margin-bottom: 4px;

		img{
			width: auto;
			height: 20px;
		}
	}

	.logo-news-mpi-sports{
		img{
			height: 16px !important;
		}
	}

	.title-news-mpi{
		a{
			font-family: $roboto-bold;
			font-size: 14px;
			color: #515150;
		}
	}

	/* Sticky Share */
	.nav-floating-share-love-comment{
		position: fixed;
		width: 100%;
		bottom: 0px;
		left: 0px;
		z-index: 88;
		box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.1);
  		background-color: #fff;
  		display: flex;
  		flex-wrap: wrap;
  		transition: all .7s ease-in-out;
	}

	.btn-love, .btn-comment, .btn-share{
		width: 20%;
		text-align: center;
		padding: 14px 0px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		img{
			width: 24px;
			height: 24px;
		}

		.count{
			font-family: $roboto-med;
			font-size: 10px;
			color: #686a70;
			margin-left: 5px;
		}
	}

	.btn-share{
		padding-right: 10%;
	}

	.share-logo-hi-lite-no-love{
		margin-left: 20%;
	}

	.share-logo-hi-lite{
		width: 40%;
		padding: 12px 0px 12px 6%;
		background-color: #093a67;
		clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);

		img{
			width: 75px;
			height: 28px;
			display: block;
			margin: auto;
		}
	}

	/* Footer */
	footer{
		padding: 32px 127px 0px;
		background: url('../images/bg-footer.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.title-footer{
		font-family: $roboto-bold;
		font-size: 18px;
		color: $color-caption;
		margin-bottom: 24px;
	}

	.link-footer{
		width: 33.33%;
		margin-bottom: 20px;

		a{
			font-family: $roboto-regular;
			font-size: 14px;
			color: $color-caption
		}
	}

	.logo-sindonews-footer{
		margin: 44px 0px;

		img{
			width: 277px;
			height: auto;
			display: block;
			margin: auto;
		}
	}

	.download-apps{
		margin-bottom: 32px;
		text-align: center;

		img{
			width: auto;
			height: 30px;
			margin: 0px 15px;
		}
	}

	.social-footer{
		margin-bottom: 32px;
		text-align: center;

		img{
			width: 32px;
			height: 32px;
			margin: 0px 12px;
		}
	}

	.img-mnp{
		margin-bottom: 32px;

		img{
			width: 122px;
			height: 32px;
			margin: auto;
			display: block;
		}
	}

	.copy{
		background-color: rgba(231, 231, 231, 0.63);
		padding: 8px 0px;
		text-align: center;
		font-family: $roboto-regular;
		font-size: 12px;
		color: $color-caption;
		margin: 0px -127px;
	}

	/* Skeleton */
	.slide-nav.loading{
		height: 2.5rem;
        width: 100%;
        margin: 56px 10px 30px 0px;
	}

	.title-detail.loading, .title-detail.loading-end{
		height: 1.5rem;
        width: 100%;
        border-radius: 3px;
		margin-top:  3px;
	}

	.title-detail.loading-end{
		width: 70% !important;
		background-color: #cfcfcf;
		margin-bottom: 18px;
	}

	.redaksi-detail.loading{
		height: 1rem;
        width: 60%;
        margin-top: 15px;
        border-radius: 3px;
	}

	.date-detail.loading{
		height: 1rem;
        width: 40%;
        margin-top: 5px;
        border-radius: 3px;
	}

	.img-detail.loading{
		width:  100%;
		height:  294px;
		border-radius:  8px;
		margin-top: 5px;
		margin-bottom: 18px;
	}

	.desc-detail.loading{
		height: 1rem;
        width: 100%;
        border-radius: 3px;
		margin-top: 3px;
	}

	.loading {
        display: inline-block;
		position: relative;
		overflow: hidden;
		background-color: #cfcfcf;
    }

    .loading::after {
		position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    transform: translateX(-100%);
	    background: -webkit-gradient(linear, left top,
            right top, from(transparent), 
            color-stop(rgba(255, 255, 255, 0.2)),
            to(transparent));
              
        background: linear-gradient(90deg, transparent,
                rgba(255, 255, 255, 0.2), transparent);
	    animation: loading 2s infinite;
	    content: '';
    }

    @keyframes loading {
        100% {
            transform: translateX(100%);
        }
    }
	
	#after-loading{
		display:  none;
	}
}